[Unit]
Description=Check for queued emails every minute

[Timer]
OnCalendar=*:0/1
Persistent=true
Unit=msmtp.service

[Install]
WantedBy=timers.target
