/*

    Name:       Base16 Seti UI Dark
    Author:     

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #151718;}
a {color: #55b5db;}

/* INTRO PAGE */
.toolbar_info, .list_container {color: #eeeeee;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #8a553f;}
div.output_prompt {color: #a074c4;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #3B758C;
}
div.output_area pre {font-weight: normal; color: #d6d6d6;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #d6d6d6 solid;
  color: #d6d6d6;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #d6d6d6;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #a074c4;}
div.text_cell_render, div.output_html {color: #d6d6d6;}

span.ansiblack {color: #8ec43d;}
span.ansiblue {color: #55dbbe;}
span.ansigray {color: #43a5d5;}
span.ansigreen {color: #9fca56;}
span.ansipurple {color: #a074c4;}
span.ansired {color: #Cd3f45;}
span.ansiyellow {color: #e6cd69;}

div.output_stderr {background-color: #Cd3f45;}
div.output_stderr pre {color: #eeeeee;}

.cm-s-ipython.CodeMirror {background: #151718; color: #eeeeee;}
.cm-s-ipython div.CodeMirror-selected {background: #8ec43d !important;}
.cm-s-ipython .CodeMirror-gutters {background: #151718; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #41535B;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #43a5d5 !important;}

.cm-s-ipython span.cm-comment {color: #8a553f;}
.cm-s-ipython span.cm-atom {color: #a074c4;}
.cm-s-ipython span.cm-number {color: #a074c4;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #9fca56;}
.cm-s-ipython span.cm-keyword {color: #Cd3f45;}
.cm-s-ipython span.cm-string {color: #e6cd69;}
.cm-s-ipython span.cm-operator {color: #8a553f;}
.cm-s-ipython span.cm-builtin {color: #a074c4;}

.cm-s-ipython span.cm-variable {color: #9fca56;}
.cm-s-ipython span.cm-variable-2 {color: #55b5db;}
.cm-s-ipython span.cm-def {color: #db7b55;}
.cm-s-ipython span.cm-error {background: #Cd3f45; color: #43a5d5;}
.cm-s-ipython span.cm-bracket {color: #d6d6d6;}
.cm-s-ipython span.cm-tag {color: #Cd3f45;}
.cm-s-ipython span.cm-link {color: #a074c4;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #eeeeee !important;}
