/*

    Name:       Base16 Yesterday Bright Light
    Author:     FroZnShiva (https://github.com/FroZnShiva)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #ffffff;}
a {color: #7aa6da;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #4f5b66;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #c397d8;}
div.output_prompt {color: #9a806d;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #dfe1e8;
}
div.output_area pre {font-weight: normal; color: #65737e;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #a7adba solid;
  color: #a7adba;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #65737e;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #9a806d;}
div.text_cell_render, div.output_html {color: #65737e;}

span.ansiblack {color: #4f5b66;}
span.ansiblue {color: #70c0b1;}
span.ansigray {color: #c0c5ce;}
span.ansigreen {color: #b9ca4a;}
span.ansipurple {color: #c397d8;}
span.ansired {color: #d54e53;}
span.ansiyellow {color: #e7c547;}

div.output_stderr {background-color: #d54e53;}
div.output_stderr pre {color: #eff1f5;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #4f5b66;}
.cm-s-ipython div.CodeMirror-selected {background: #eff1f5 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #c0c5ce;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #a7adba !important;}

.cm-s-ipython span.cm-comment {color: #9a806d;}
.cm-s-ipython span.cm-atom {color: #c397d8;}
.cm-s-ipython span.cm-number {color: #c397d8;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #b9ca4a;}
.cm-s-ipython span.cm-keyword {color: #d54e53;}
.cm-s-ipython span.cm-string {color: #e7c547;}
.cm-s-ipython span.cm-operator {color: #9a806d;}
.cm-s-ipython span.cm-builtin {color: #c397d8;}

.cm-s-ipython span.cm-variable {color: #b9ca4a;}
.cm-s-ipython span.cm-variable-2 {color: #7aa6da;}
.cm-s-ipython span.cm-def {color: #e78c45;}
.cm-s-ipython span.cm-error {background: #d54e53; color: #a7adba;}
.cm-s-ipython span.cm-bracket {color: #65737e;}
.cm-s-ipython span.cm-tag {color: #d54e53;}
.cm-s-ipython span.cm-link {color: #c397d8;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #4f5b66 !important;}
