/*

    Name:       Base16 IR Black Light
    Author:     Timothée Poisot (http://timotheepoisot.fr)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #fdfbee;}
a {color: #96cbfe;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #242422;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #ff73fd;}
div.output_prompt {color: #b18a3d;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #b5b3aa;
}
div.output_area pre {font-weight: normal; color: #484844;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #6c6c66 solid;
  color: #6c6c66;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #484844;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #b18a3d;}
div.text_cell_render, div.output_html {color: #484844;}

span.ansiblack {color: #242422;}
span.ansiblue {color: #c6c5fe;}
span.ansigray {color: #918f88;}
span.ansigreen {color: #a8ff60;}
span.ansipurple {color: #ff73fd;}
span.ansired {color: #ff6c60;}
span.ansiyellow {color: #ffffb6;}

div.output_stderr {background-color: #ff6c60;}
div.output_stderr pre {color: #d9d7cc;}

.cm-s-ipython.CodeMirror {background: #fdfbee; color: #242422;}
.cm-s-ipython div.CodeMirror-selected {background: #d9d7cc !important;}
.cm-s-ipython .CodeMirror-gutters {background: #fdfbee; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #918f88;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #6c6c66 !important;}

.cm-s-ipython span.cm-comment {color: #b18a3d;}
.cm-s-ipython span.cm-atom {color: #ff73fd;}
.cm-s-ipython span.cm-number {color: #ff73fd;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #a8ff60;}
.cm-s-ipython span.cm-keyword {color: #ff6c60;}
.cm-s-ipython span.cm-string {color: #ffffb6;}
.cm-s-ipython span.cm-operator {color: #b18a3d;}
.cm-s-ipython span.cm-builtin {color: #ff73fd;}

.cm-s-ipython span.cm-variable {color: #a8ff60;}
.cm-s-ipython span.cm-variable-2 {color: #96cbfe;}
.cm-s-ipython span.cm-def {color: #e9c062;}
.cm-s-ipython span.cm-error {background: #ff6c60; color: #6c6c66;}
.cm-s-ipython span.cm-bracket {color: #484844;}
.cm-s-ipython span.cm-tag {color: #ff6c60;}
.cm-s-ipython span.cm-link {color: #ff73fd;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #242422 !important;}
