// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #cbd6e2;
@syntax-cursor-color: #cbd6e2;
@syntax-selection-color: #405c79;
@syntax-background-color: #0b1c2c;

// Guide colors
@syntax-wrap-guide-color: #627e99;
@syntax-indent-guide-color: #627e99;
@syntax-invisible-character-color: #627e99;

// For find and replace markers
@syntax-result-marker-color: #627e99;
@syntax-result-marker-color-selected: #cbd6e2;

// Gutter colors
@syntax-gutter-text-color: #cbd6e2;
@syntax-gutter-text-color-selected: #cbd6e2;
@syntax-gutter-background-color: #0b1c2c;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #8b56bf;
@syntax-color-added: #56bf8b;
@syntax-color-modified: #8bbf56;
@syntax-color-removed: #bf8b56;