// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #504945;
@syntax-cursor-color: #504945;
@syntax-selection-color: #D5C4A1;
@syntax-background-color: #FDF4C1;

// Guide colors
@syntax-wrap-guide-color: #D5C4A1;
@syntax-indent-guide-color: #D5C4A1;
@syntax-invisible-character-color: #D5C4A1;

// For find and replace markers
@syntax-result-marker-color: #D5C4A1;
@syntax-result-marker-color-selected: #504945;

// Gutter colors
@syntax-gutter-text-color: #504945;
@syntax-gutter-text-color-selected: #504945;
@syntax-gutter-background-color: #FDF4C1;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #0D6678;
@syntax-color-added: #95C085;
@syntax-color-modified: #FAC03B;
@syntax-color-removed: #FB543F;