// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #184E45;
@syntax-cursor-color: #184E45;
@syntax-selection-color: #A7CEC8;
@syntax-background-color: #D2E7E4;

// Guide colors
@syntax-wrap-guide-color: #A7CEC8;
@syntax-indent-guide-color: #A7CEC8;
@syntax-invisible-character-color: #A7CEC8;

// For find and replace markers
@syntax-result-marker-color: #A7CEC8;
@syntax-result-marker-color-selected: #184E45;

// Gutter colors
@syntax-gutter-text-color: #184E45;
@syntax-gutter-text-color-selected: #184E45;
@syntax-gutter-background-color: #D2E7E4;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #96883E;
@syntax-color-added: #883E96;
@syntax-color-modified: #3E4C96;
@syntax-color-removed: #3E9688;