// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #c0c0c0;
@syntax-cursor-color: #c0c0c0;
@syntax-selection-color: #404040;
@syntax-background-color: #000000;

// Guide colors
@syntax-wrap-guide-color: #808080;
@syntax-indent-guide-color: #808080;
@syntax-invisible-character-color: #808080;

// For find and replace markers
@syntax-result-marker-color: #808080;
@syntax-result-marker-color-selected: #c0c0c0;

// Gutter colors
@syntax-gutter-text-color: #c0c0c0;
@syntax-gutter-text-color-selected: #c0c0c0;
@syntax-gutter-background-color: #000000;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #0000d3;
@syntax-color-added: #1fb714;
@syntax-color-modified: #fbf305;
@syntax-color-removed: #dd0907;