// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #484844;
@syntax-cursor-color: #484844;
@syntax-selection-color: #d9d7cc;
@syntax-background-color: #fdfbee;

// Guide colors
@syntax-wrap-guide-color: #d9d7cc;
@syntax-indent-guide-color: #d9d7cc;
@syntax-invisible-character-color: #d9d7cc;

// For find and replace markers
@syntax-result-marker-color: #d9d7cc;
@syntax-result-marker-color-selected: #484844;

// Gutter colors
@syntax-gutter-text-color: #484844;
@syntax-gutter-text-color-selected: #484844;
@syntax-gutter-background-color: #fdfbee;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #96cbfe;
@syntax-color-added: #a8ff60;
@syntax-color-modified: #ffffb6;
@syntax-color-removed: #ff6c60;