// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #555555;
@syntax-cursor-color: #555555;
@syntax-selection-color: #dddddd;
@syntax-background-color: #ffffff;

// Guide colors
@syntax-wrap-guide-color: #dddddd;
@syntax-indent-guide-color: #dddddd;
@syntax-invisible-character-color: #dddddd;

// For find and replace markers
@syntax-result-marker-color: #dddddd;
@syntax-result-marker-color-selected: #555555;

// Gutter colors
@syntax-gutter-text-color: #555555;
@syntax-gutter-text-color-selected: #555555;
@syntax-gutter-background-color: #ffffff;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #0074d9;
@syntax-color-added: #2ecc40;
@syntax-color-modified: #ffdc00;
@syntax-color-removed: #ff4136;