// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #3B758C;
@syntax-cursor-color: #3B758C;
@syntax-selection-color: #eeeeee;
@syntax-background-color: #ffffff;

// Guide colors
@syntax-wrap-guide-color: #eeeeee;
@syntax-indent-guide-color: #eeeeee;
@syntax-invisible-character-color: #eeeeee;

// For find and replace markers
@syntax-result-marker-color: #eeeeee;
@syntax-result-marker-color-selected: #3B758C;

// Gutter colors
@syntax-gutter-text-color: #3B758C;
@syntax-gutter-text-color-selected: #3B758C;
@syntax-gutter-background-color: #ffffff;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #55b5db;
@syntax-color-added: #9fca56;
@syntax-color-modified: #e6cd69;
@syntax-color-removed: #Cd3f45;