// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #49483e;
@syntax-cursor-color: #49483e;
@syntax-selection-color: #f5f4f1;
@syntax-background-color: #f9f8f5;

// Guide colors
@syntax-wrap-guide-color: #f5f4f1;
@syntax-indent-guide-color: #f5f4f1;
@syntax-invisible-character-color: #f5f4f1;

// For find and replace markers
@syntax-result-marker-color: #f5f4f1;
@syntax-result-marker-color-selected: #49483e;

// Gutter colors
@syntax-gutter-text-color: #49483e;
@syntax-gutter-text-color-selected: #49483e;
@syntax-gutter-background-color: #f9f8f5;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #66d9ef;
@syntax-color-added: #a6e22e;
@syntax-color-modified: #f4bf75;
@syntax-color-removed: #f92672;