// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #5f5b17;
@syntax-cursor-color: #5f5b17;
@syntax-selection-color: #ccc37a;
@syntax-background-color: #faf0a5;

// Guide colors
@syntax-wrap-guide-color: #ccc37a;
@syntax-indent-guide-color: #ccc37a;
@syntax-invisible-character-color: #ccc37a;

// For find and replace markers
@syntax-result-marker-color: #ccc37a;
@syntax-result-marker-color-selected: #5f5b17;

// Gutter colors
@syntax-gutter-text-color: #5f5b17;
@syntax-gutter-text-color-selected: #5f5b17;
@syntax-gutter-background-color: #faf0a5;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #477ca1;
@syntax-color-added: #18974e;
@syntax-color-modified: #a88339;
@syntax-color-removed: #c35359;