// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #dfe1e8;
@syntax-cursor-color: #dfe1e8;
@syntax-selection-color: #65737e;
@syntax-background-color: #343d46;

// Guide colors
@syntax-wrap-guide-color: #a7adba;
@syntax-indent-guide-color: #a7adba;
@syntax-invisible-character-color: #a7adba;

// For find and replace markers
@syntax-result-marker-color: #a7adba;
@syntax-result-marker-color-selected: #dfe1e8;

// Gutter colors
@syntax-gutter-text-color: #dfe1e8;
@syntax-gutter-text-color-selected: #dfe1e8;
@syntax-gutter-background-color: #343d46;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #81a2be;
@syntax-color-added: #b5bd68;
@syntax-color-modified: #f0c674;
@syntax-color-removed: #cc6666;