// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #4d4d4c;
@syntax-cursor-color: #4d4d4c;
@syntax-selection-color: #efefef;
@syntax-background-color: #ffffff;

// Guide colors
@syntax-wrap-guide-color: #efefef;
@syntax-indent-guide-color: #efefef;
@syntax-invisible-character-color: #efefef;

// For find and replace markers
@syntax-result-marker-color: #efefef;
@syntax-result-marker-color-selected: #4d4d4c;

// Gutter colors
@syntax-gutter-text-color: #4d4d4c;
@syntax-gutter-text-color-selected: #4d4d4c;
@syntax-gutter-background-color: #ffffff;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #4271ae;
@syntax-color-added: #718c00;
@syntax-color-modified: #eab700;
@syntax-color-removed: #c82829;