// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #383838;
@syntax-cursor-color: #383838;
@syntax-selection-color: #e8e8e8;
@syntax-background-color: #f8f8f8;

// Guide colors
@syntax-wrap-guide-color: #e8e8e8;
@syntax-indent-guide-color: #e8e8e8;
@syntax-invisible-character-color: #e8e8e8;

// For find and replace markers
@syntax-result-marker-color: #e8e8e8;
@syntax-result-marker-color-selected: #383838;

// Gutter colors
@syntax-gutter-text-color: #383838;
@syntax-gutter-text-color-selected: #383838;
@syntax-gutter-background-color: #f8f8f8;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #7cafc2;
@syntax-color-added: #a1b56c;
@syntax-color-modified: #f7ca88;
@syntax-color-removed: #ab4642;