// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #ababab;
@syntax-cursor-color: #ababab;
@syntax-selection-color: #102015;
@syntax-background-color: #000000;

// Guide colors
@syntax-wrap-guide-color: #343434;
@syntax-indent-guide-color: #343434;
@syntax-invisible-character-color: #343434;

// For find and replace markers
@syntax-result-marker-color: #343434;
@syntax-result-marker-color-selected: #ababab;

// Gutter colors
@syntax-gutter-text-color: #ababab;
@syntax-gutter-text-color-selected: #ababab;
@syntax-gutter-background-color: #000000;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #3b48e3;
@syntax-color-added: #0ed839;
@syntax-color-modified: #dddd13;
@syntax-color-removed: #e92f2f;