// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #e0e0e0;
@syntax-cursor-color: #e0e0e0;
@syntax-selection-color: #7F8C8D;
@syntax-background-color: #2C3E50;

// Guide colors
@syntax-wrap-guide-color: #95A5A6;
@syntax-indent-guide-color: #95A5A6;
@syntax-invisible-character-color: #95A5A6;

// For find and replace markers
@syntax-result-marker-color: #95A5A6;
@syntax-result-marker-color-selected: #e0e0e0;

// Gutter colors
@syntax-gutter-text-color: #e0e0e0;
@syntax-gutter-text-color-selected: #e0e0e0;
@syntax-gutter-background-color: #2C3E50;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #3498DB;
@syntax-color-added: #2ECC71;
@syntax-color-modified: #F1C40F;
@syntax-color-removed: #E74C3C;