// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #005500;
@syntax-cursor-color: #005500;
@syntax-selection-color: #00dd00;
@syntax-background-color: #00ff00;

// Guide colors
@syntax-wrap-guide-color: #00dd00;
@syntax-indent-guide-color: #00dd00;
@syntax-invisible-character-color: #00dd00;

// For find and replace markers
@syntax-result-marker-color: #00dd00;
@syntax-result-marker-color-selected: #005500;

// Gutter colors
@syntax-gutter-text-color: #005500;
@syntax-gutter-text-color-selected: #005500;
@syntax-gutter-background-color: #00ff00;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #009900;
@syntax-color-added: #00bb00;
@syntax-color-modified: #007700;
@syntax-color-removed: #007700;