// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #d6d6d6;
@syntax-cursor-color: #d6d6d6;
@syntax-selection-color: #3B758C;
@syntax-background-color: #151718;

// Guide colors
@syntax-wrap-guide-color: #41535B;
@syntax-indent-guide-color: #41535B;
@syntax-invisible-character-color: #41535B;

// For find and replace markers
@syntax-result-marker-color: #41535B;
@syntax-result-marker-color-selected: #d6d6d6;

// Gutter colors
@syntax-gutter-text-color: #d6d6d6;
@syntax-gutter-text-color-selected: #d6d6d6;
@syntax-gutter-background-color: #151718;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #55b5db;
@syntax-color-added: #9fca56;
@syntax-color-modified: #e6cd69;
@syntax-color-removed: #Cd3f45;