// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #464b50;
@syntax-cursor-color: #464b50;
@syntax-selection-color: #c3c3c3;
@syntax-background-color: #ffffff;

// Guide colors
@syntax-wrap-guide-color: #c3c3c3;
@syntax-indent-guide-color: #c3c3c3;
@syntax-invisible-character-color: #c3c3c3;

// For find and replace markers
@syntax-result-marker-color: #c3c3c3;
@syntax-result-marker-color-selected: #464b50;

// Gutter colors
@syntax-gutter-text-color: #464b50;
@syntax-gutter-text-color-selected: #464b50;
@syntax-gutter-background-color: #ffffff;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #7587a6;
@syntax-color-added: #8f9d6a;
@syntax-color-modified: #f9ee98;
@syntax-color-removed: #cf6a4c;