// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #A39A90;
@syntax-cursor-color: #A39A90;
@syntax-selection-color: #433B32;
@syntax-background-color: #16130F;

// Guide colors
@syntax-wrap-guide-color: #5A5047;
@syntax-indent-guide-color: #5A5047;
@syntax-invisible-character-color: #5A5047;

// For find and replace markers
@syntax-result-marker-color: #5A5047;
@syntax-result-marker-color-selected: #A39A90;

// Gutter colors
@syntax-gutter-text-color: #A39A90;
@syntax-gutter-text-color-selected: #A39A90;
@syntax-gutter-background-color: #16130F;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #6D5782;
@syntax-color-added: #57826D;
@syntax-color-modified: #6D8257;
@syntax-color-removed: #826D57;