// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #4a4543;
@syntax-cursor-color: #4a4543;
@syntax-selection-color: #d6d5d4;
@syntax-background-color: #f7f7f7;

// Guide colors
@syntax-wrap-guide-color: #d6d5d4;
@syntax-indent-guide-color: #d6d5d4;
@syntax-invisible-character-color: #d6d5d4;

// For find and replace markers
@syntax-result-marker-color: #d6d5d4;
@syntax-result-marker-color-selected: #4a4543;

// Gutter colors
@syntax-gutter-text-color: #4a4543;
@syntax-gutter-text-color-selected: #4a4543;
@syntax-gutter-background-color: #f7f7f7;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #01a0e4;
@syntax-color-added: #01a252;
@syntax-color-modified: #fded02;
@syntax-color-removed: #db2d20;