// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #515253;
@syntax-cursor-color: #515253;
@syntax-selection-color: #dadbdc;
@syntax-background-color: #fcfdfe;

// Guide colors
@syntax-wrap-guide-color: #dadbdc;
@syntax-indent-guide-color: #dadbdc;
@syntax-invisible-character-color: #dadbdc;

// For find and replace markers
@syntax-result-marker-color: #dadbdc;
@syntax-result-marker-color-selected: #515253;

// Gutter colors
@syntax-gutter-text-color: #515253;
@syntax-gutter-text-color-selected: #515253;
@syntax-gutter-background-color: #fcfdfe;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #3182bd;
@syntax-color-added: #31a354;
@syntax-color-modified: #dca060;
@syntax-color-removed: #e31a1c;