/**
 * Base16 Yesterday Bright Dark
 *
 * @author FroZnShiva (https://github.com/FroZnShiva)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
@base00: #343d46;
@base01: #4f5b66;
@base02: #65737e;
@base03: #a7adba;
@base04: #c0c5ce;
@base05: #dfe1e8;
@base06: #eff1f5;
@base07: #ffffff;
@base08: #d54e53;
@base09: #e78c45;
@base0a: #e7c547;
@base0b: #b9ca4a;
@base0c: #70c0b1;
@base0d: #7aa6da;
@base0e: #c397d8;
@base0f: #9a806d;

pre {
    background-color: @base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: @base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: @base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: @base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: @base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: @base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: @base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: @base0d; // blue
}

pre .keyword, pre .storage {
    color: @base0e; // purple
}
