/**
 * Base16 Apathy Dark
 *
 * @author Jannik Siebert (https://github.com/janniks)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
@base00: #031A16;
@base01: #0B342D;
@base02: #184E45;
@base03: #2B685E;
@base04: #5F9C92;
@base05: #81B5AC;
@base06: #A7CEC8;
@base07: #D2E7E4;
@base08: #3E9688;
@base09: #3E7996;
@base0a: #3E4C96;
@base0b: #883E96;
@base0c: #963E4C;
@base0d: #96883E;
@base0e: #4C963E;
@base0f: #3E965B;

pre {
    background-color: @base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: @base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: @base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: @base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: @base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: @base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: @base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: @base0d; // blue
}

pre .keyword, pre .storage {
    color: @base0e; // purple
}
