/**
 * Base16 Flat Dark
 *
 * @author Chris Kempson (http://chriskempson.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
@base00: #2C3E50;
@base01: #34495E;
@base02: #7F8C8D;
@base03: #95A5A6;
@base04: #BDC3C7;
@base05: #e0e0e0;
@base06: #f5f5f5;
@base07: #ECF0F1;
@base08: #E74C3C;
@base09: #E67E22;
@base0a: #F1C40F;
@base0b: #2ECC71;
@base0c: #1ABC9C;
@base0d: #3498DB;
@base0e: #9B59B6;
@base0f: #be643c;

pre {
    background-color: @base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: @base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: @base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: @base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: @base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: @base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: @base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: @base0d; // blue
}

pre .keyword, pre .storage {
    color: @base0e; // purple
}
