/**
 * Base16 Railscasts Light
 *
 * @author Ryan Bates (http://railscasts.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
@base00: #2b2b2b;
@base01: #272935;
@base02: #3a4055;
@base03: #5a647e;
@base04: #d4cfc9;
@base05: #e6e1dc;
@base06: #f4f1ed;
@base07: #f9f7f3;
@base08: #da4939;
@base09: #cc7833;
@base0a: #ffc66d;
@base0b: #a5c261;
@base0c: #519f50;
@base0d: #6d9cbe;
@base0e: #b6b3eb;
@base0f: #bc9458;

pre {
    background-color: @base07;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: @base00;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: @base04;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: @base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: @base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: @base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: @base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: @base0d; // blue
}

pre .keyword, pre .storage {
    color: @base0e; // purple
}
