/*

    Name:       Base16 Atelier Sulphurpool Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #ac9739 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #c08b30;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #22a2c9;
}

div.input_prompt {
  color: #3d8fd1;
}

div.output_prompt {
  color: #c94922;
}

/*
     GLOBALS
*/

span.ansiblack {color: #293256;}
span.ansiblue {color: #22a2c9;}
span.ansigray {color: #898ea4;}
span.ansigreen {color: #ac9739;}
span.ansipurple {color: #6679cc;}
span.ansired {color: #c94922;}
span.ansiyellow {color: #c08b30;}

div.output_stderr {background-color: #c94922;}
div.output_stderr pre {color: #dfe2f1;}

.cm-s-ipython.CodeMirror {background: #f5f7ff; color: #293256;}
.cm-s-ipython div.CodeMirror-selected {background: #dfe2f1 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f5f7ff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #898ea4;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #6b7394 !important;}

.cm-s-ipython span.cm-comment {color: #6b7394;}
.cm-s-ipython span.cm-atom {color: #6679cc;}
.cm-s-ipython span.cm-number {color: #c76b29;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #ac9739;}
.cm-s-ipython span.cm-keyword {color: #6679cc;}
.cm-s-ipython span.cm-string {color: #ac9739;}
.cm-s-ipython span.cm-operator {color: #293256;}
.cm-s-ipython span.cm-builtin {color: #6679cc;}

.cm-s-ipython span.cm-variable {color: #5e6687;}
.cm-s-ipython span.cm-variable-2 {color: #3d8fd1;}
.cm-s-ipython span.cm-def {color: #c76b29;}
.cm-s-ipython span.cm-error {background: #c94922; color: #6b7394;}
.cm-s-ipython span.cm-bracket {color: #5e6687;}
.cm-s-ipython span.cm-tag {color: #c94922;}
.cm-s-ipython span.cm-link {color: #6679cc;}
.cm-s-ipython span.cm-meta {color: #c94922;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #293256 !important;}
