/*

    Name:       Base16 PhD Light
    Author:     Hennig Hasemann (http://leetless.de/vim.html)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #99bf52 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #fbd461;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #72b9bf;
}

div.input_prompt {
  color: #5299bf;
}

div.output_prompt {
  color: #d07346;
}

/*
     GLOBALS
*/

span.ansiblack {color: #2a3448;}
span.ansiblue {color: #72b9bf;}
span.ansigray {color: #9a99a3;}
span.ansigreen {color: #99bf52;}
span.ansipurple {color: #9989cc;}
span.ansired {color: #d07346;}
span.ansiyellow {color: #fbd461;}

div.output_stderr {background-color: #d07346;}
div.output_stderr pre {color: #dbdde0;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #2a3448;}
.cm-s-ipython div.CodeMirror-selected {background: #dbdde0 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #9a99a3;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #717885 !important;}

.cm-s-ipython span.cm-comment {color: #717885;}
.cm-s-ipython span.cm-atom {color: #9989cc;}
.cm-s-ipython span.cm-number {color: #f0a000;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #99bf52;}
.cm-s-ipython span.cm-keyword {color: #9989cc;}
.cm-s-ipython span.cm-string {color: #99bf52;}
.cm-s-ipython span.cm-operator {color: #2a3448;}
.cm-s-ipython span.cm-builtin {color: #9989cc;}

.cm-s-ipython span.cm-variable {color: #4d5666;}
.cm-s-ipython span.cm-variable-2 {color: #5299bf;}
.cm-s-ipython span.cm-def {color: #f0a000;}
.cm-s-ipython span.cm-error {background: #d07346; color: #717885;}
.cm-s-ipython span.cm-bracket {color: #4d5666;}
.cm-s-ipython span.cm-tag {color: #d07346;}
.cm-s-ipython span.cm-link {color: #9989cc;}
.cm-s-ipython span.cm-meta {color: #d07346;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #2a3448 !important;}
