/*

    Name:       Base16 Seti UI Light
    Author:     

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #9fca56 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #e6cd69;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #55dbbe;
}

div.input_prompt {
  color: #55b5db;
}

div.output_prompt {
  color: #Cd3f45;
}

/*
     GLOBALS
*/

span.ansiblack {color: #8ec43d;}
span.ansiblue {color: #55dbbe;}
span.ansigray {color: #43a5d5;}
span.ansigreen {color: #9fca56;}
span.ansipurple {color: #a074c4;}
span.ansired {color: #Cd3f45;}
span.ansiyellow {color: #e6cd69;}

div.output_stderr {background-color: #Cd3f45;}
div.output_stderr pre {color: #eeeeee;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #8ec43d;}
.cm-s-ipython div.CodeMirror-selected {background: #eeeeee !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #43a5d5;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #41535B !important;}

.cm-s-ipython span.cm-comment {color: #41535B;}
.cm-s-ipython span.cm-atom {color: #a074c4;}
.cm-s-ipython span.cm-number {color: #db7b55;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #9fca56;}
.cm-s-ipython span.cm-keyword {color: #a074c4;}
.cm-s-ipython span.cm-string {color: #9fca56;}
.cm-s-ipython span.cm-operator {color: #8ec43d;}
.cm-s-ipython span.cm-builtin {color: #a074c4;}

.cm-s-ipython span.cm-variable {color: #3B758C;}
.cm-s-ipython span.cm-variable-2 {color: #55b5db;}
.cm-s-ipython span.cm-def {color: #db7b55;}
.cm-s-ipython span.cm-error {background: #Cd3f45; color: #41535B;}
.cm-s-ipython span.cm-bracket {color: #3B758C;}
.cm-s-ipython span.cm-tag {color: #Cd3f45;}
.cm-s-ipython span.cm-link {color: #a074c4;}
.cm-s-ipython span.cm-meta {color: #Cd3f45;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #8ec43d !important;}
