/*

    Name:       Base16 Atelier Plateau Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #4b8b8b solid !important;
}

.edit_mode div.cell.selected{
  border-color: #a06e3b;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #5485b6;
}

div.input_prompt {
  color: #7272ca;
}

div.output_prompt {
  color: #ca4949;
}

/*
     GLOBALS
*/

span.ansiblack {color: #292424;}
span.ansiblue {color: #5485b6;}
span.ansigray {color: #7e7777;}
span.ansigreen {color: #4b8b8b;}
span.ansipurple {color: #8464c4;}
span.ansired {color: #ca4949;}
span.ansiyellow {color: #a06e3b;}

div.output_stderr {background-color: #ca4949;}
div.output_stderr pre {color: #e7dfdf;}

.cm-s-ipython.CodeMirror {background: #f4ecec; color: #292424;}
.cm-s-ipython div.CodeMirror-selected {background: #e7dfdf !important;}
.cm-s-ipython .CodeMirror-gutters {background: #f4ecec; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #7e7777;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #655d5d !important;}

.cm-s-ipython span.cm-comment {color: #655d5d;}
.cm-s-ipython span.cm-atom {color: #8464c4;}
.cm-s-ipython span.cm-number {color: #b45a3c;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #4b8b8b;}
.cm-s-ipython span.cm-keyword {color: #8464c4;}
.cm-s-ipython span.cm-string {color: #4b8b8b;}
.cm-s-ipython span.cm-operator {color: #292424;}
.cm-s-ipython span.cm-builtin {color: #8464c4;}

.cm-s-ipython span.cm-variable {color: #585050;}
.cm-s-ipython span.cm-variable-2 {color: #7272ca;}
.cm-s-ipython span.cm-def {color: #b45a3c;}
.cm-s-ipython span.cm-error {background: #ca4949; color: #655d5d;}
.cm-s-ipython span.cm-bracket {color: #585050;}
.cm-s-ipython span.cm-tag {color: #ca4949;}
.cm-s-ipython span.cm-link {color: #8464c4;}
.cm-s-ipython span.cm-meta {color: #ca4949;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #292424 !important;}
