/*

    Name:       Base16 Atelier Cave Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #2a9292 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #a06e3b;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #398bc6;
}

div.input_prompt {
  color: #576ddb;
}

div.output_prompt {
  color: #be4678;
}

/*
     GLOBALS
*/

span.ansiblack {color: #26232a;}
span.ansiblue {color: #398bc6;}
span.ansigray {color: #7e7887;}
span.ansigreen {color: #2a9292;}
span.ansipurple {color: #955ae7;}
span.ansired {color: #be4678;}
span.ansiyellow {color: #a06e3b;}

div.output_stderr {background-color: #be4678;}
div.output_stderr pre {color: #e2dfe7;}

.cm-s-ipython.CodeMirror {background: #efecf4; color: #26232a;}
.cm-s-ipython div.CodeMirror-selected {background: #e2dfe7 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #efecf4; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #7e7887;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #655f6d !important;}

.cm-s-ipython span.cm-comment {color: #655f6d;}
.cm-s-ipython span.cm-atom {color: #955ae7;}
.cm-s-ipython span.cm-number {color: #aa573c;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #2a9292;}
.cm-s-ipython span.cm-keyword {color: #955ae7;}
.cm-s-ipython span.cm-string {color: #2a9292;}
.cm-s-ipython span.cm-operator {color: #26232a;}
.cm-s-ipython span.cm-builtin {color: #955ae7;}

.cm-s-ipython span.cm-variable {color: #585260;}
.cm-s-ipython span.cm-variable-2 {color: #576ddb;}
.cm-s-ipython span.cm-def {color: #aa573c;}
.cm-s-ipython span.cm-error {background: #be4678; color: #655f6d;}
.cm-s-ipython span.cm-bracket {color: #585260;}
.cm-s-ipython span.cm-tag {color: #be4678;}
.cm-s-ipython span.cm-link {color: #955ae7;}
.cm-s-ipython span.cm-meta {color: #be4678;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #26232a !important;}
