# mpd
mpd/log
mpd/state
mpd/pid
mpd/db

# wmii
wmii/history.actions
wmii/history.progs
irssi/away.log
irssi/*.autosave

# uzbl
uzbl/local/history
pentadactyl/info/default/command-history
vim/.netrwhist
vim/tmp/
vim/.gissue-cache/

# i3
i3/log

# irssi
irssi/nickserv.auth
vim/view
fonts/typecatcher
weechat/logs
