vim/bundle
!vim/bundle/vundle
vim/.netrwhist
vim/undo
vim/swap
vim/tmp/unite/*
vim/sessions/*

# mpd
mpd/log
mpd/state
mpd/pid
mpd/db

# wmii
wmii/history.actions
wmii/history.progs
irssi/away.log
irssi/*.autosave
