/*

    Name:       Base16 Apathy Light
    Author:     Jannik Siebert (https://github.com/janniks)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-apathy-light.CodeMirror {background: #D2E7E4; color: #0B342D;}
.cm-s-base16-apathy-light div.CodeMirror-selected {background: #A7CEC8 !important;}
.cm-s-base16-apathy-light .CodeMirror-gutters {background: #D2E7E4; border-right: 0px;}
.cm-s-base16-apathy-light .CodeMirror-linenumber {color: #5F9C92;}
.cm-s-base16-apathy-light .CodeMirror-cursor {border-left: 1px solid #2B685E !important;}

.cm-s-base16-apathy-light span.cm-comment {color: #3E965B;}
.cm-s-base16-apathy-light span.cm-atom {color: #4C963E;}
.cm-s-base16-apathy-light span.cm-number {color: #4C963E;}

.cm-s-base16-apathy-light span.cm-property, .cm-s-base16-apathy-light span.cm-attribute {color: #883E96;}
.cm-s-base16-apathy-light span.cm-keyword {color: #3E9688;}
.cm-s-base16-apathy-light span.cm-string {color: #3E4C96;}

.cm-s-base16-apathy-light span.cm-variable {color: #883E96;}
.cm-s-base16-apathy-light span.cm-variable-2 {color: #96883E;}
.cm-s-base16-apathy-light span.cm-def {color: #3E7996;}
.cm-s-base16-apathy-light span.cm-error {background: #3E9688; color: #2B685E;}
.cm-s-base16-apathy-light span.cm-bracket {color: #0B342D;}
.cm-s-base16-apathy-light span.cm-tag {color: #3E9688;}
.cm-s-base16-apathy-light span.cm-link {color: #4C963E;}

.cm-s-base16-apathy-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
