/*

    Name:       Base16 IR Black Dark
    Author:     Timothée Poisot (http://timotheepoisot.fr)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-irblack-dark.CodeMirror {background: #000000; color: #d9d7cc;}
.cm-s-base16-irblack-dark div.CodeMirror-selected {background: #242422 !important;}
.cm-s-base16-irblack-dark .CodeMirror-gutters {background: #000000; border-right: 0px;}
.cm-s-base16-irblack-dark .CodeMirror-linenumber {color: #6c6c66;}
.cm-s-base16-irblack-dark .CodeMirror-cursor {border-left: 1px solid #918f88 !important;}

.cm-s-base16-irblack-dark span.cm-comment {color: #b18a3d;}
.cm-s-base16-irblack-dark span.cm-atom {color: #ff73fd;}
.cm-s-base16-irblack-dark span.cm-number {color: #ff73fd;}

.cm-s-base16-irblack-dark span.cm-property, .cm-s-base16-irblack-dark span.cm-attribute {color: #a8ff60;}
.cm-s-base16-irblack-dark span.cm-keyword {color: #ff6c60;}
.cm-s-base16-irblack-dark span.cm-string {color: #ffffb6;}

.cm-s-base16-irblack-dark span.cm-variable {color: #a8ff60;}
.cm-s-base16-irblack-dark span.cm-variable-2 {color: #96cbfe;}
.cm-s-base16-irblack-dark span.cm-def {color: #e9c062;}
.cm-s-base16-irblack-dark span.cm-error {background: #ff6c60; color: #918f88;}
.cm-s-base16-irblack-dark span.cm-bracket {color: #d9d7cc;}
.cm-s-base16-irblack-dark span.cm-tag {color: #ff6c60;}
.cm-s-base16-irblack-dark span.cm-link {color: #ff73fd;}

.cm-s-base16-irblack-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
