/*

    Name:       Base16 Yesterday Light
    Author:     FroZnShiva (https://github.com/FroZnShiva)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-yesterday-light.CodeMirror {background: #ffffff; color: #282a2e;}
.cm-s-base16-yesterday-light div.CodeMirror-selected {background: #efefef !important;}
.cm-s-base16-yesterday-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-yesterday-light .CodeMirror-linenumber {color: #8e908c;}
.cm-s-base16-yesterday-light .CodeMirror-cursor {border-left: 1px solid #969896 !important;}

.cm-s-base16-yesterday-light span.cm-comment {color: #7f2a1d;}
.cm-s-base16-yesterday-light span.cm-atom {color: #8959a8;}
.cm-s-base16-yesterday-light span.cm-number {color: #8959a8;}

.cm-s-base16-yesterday-light span.cm-property, .cm-s-base16-yesterday-light span.cm-attribute {color: #718c00;}
.cm-s-base16-yesterday-light span.cm-keyword {color: #c82829;}
.cm-s-base16-yesterday-light span.cm-string {color: #eab700;}

.cm-s-base16-yesterday-light span.cm-variable {color: #718c00;}
.cm-s-base16-yesterday-light span.cm-variable-2 {color: #4271ae;}
.cm-s-base16-yesterday-light span.cm-def {color: #f5871f;}
.cm-s-base16-yesterday-light span.cm-error {background: #c82829; color: #969896;}
.cm-s-base16-yesterday-light span.cm-bracket {color: #282a2e;}
.cm-s-base16-yesterday-light span.cm-tag {color: #c82829;}
.cm-s-base16-yesterday-light span.cm-link {color: #8959a8;}

.cm-s-base16-yesterday-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
