/*

    Name:       Base16 Pop Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-pop-light.CodeMirror {background: #ffffff; color: #202020;}
.cm-s-base16-pop-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-base16-pop-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-pop-light .CodeMirror-linenumber {color: #b0b0b0;}
.cm-s-base16-pop-light .CodeMirror-cursor {border-left: 1px solid #505050 !important;}

.cm-s-base16-pop-light span.cm-comment {color: #7a2d00;}
.cm-s-base16-pop-light span.cm-atom {color: #b31e8d;}
.cm-s-base16-pop-light span.cm-number {color: #b31e8d;}

.cm-s-base16-pop-light span.cm-property, .cm-s-base16-pop-light span.cm-attribute {color: #37b349;}
.cm-s-base16-pop-light span.cm-keyword {color: #eb008a;}
.cm-s-base16-pop-light span.cm-string {color: #f8ca12;}

.cm-s-base16-pop-light span.cm-variable {color: #37b349;}
.cm-s-base16-pop-light span.cm-variable-2 {color: #0e5a94;}
.cm-s-base16-pop-light span.cm-def {color: #f29333;}
.cm-s-base16-pop-light span.cm-error {background: #eb008a; color: #505050;}
.cm-s-base16-pop-light span.cm-bracket {color: #202020;}
.cm-s-base16-pop-light span.cm-tag {color: #eb008a;}
.cm-s-base16-pop-light span.cm-link {color: #b31e8d;}

.cm-s-base16-pop-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
