/*

    Name:       Base16 harmonic16 Dark
    Author:     Jannik Siebert (https://github.com/janniks)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-harmonic16-dark.CodeMirror {background: #0b1c2c; color: #e5ebf1;}
.cm-s-base16-harmonic16-dark div.CodeMirror-selected {background: #223b54 !important;}
.cm-s-base16-harmonic16-dark .CodeMirror-gutters {background: #0b1c2c; border-right: 0px;}
.cm-s-base16-harmonic16-dark .CodeMirror-linenumber {color: #627e99;}
.cm-s-base16-harmonic16-dark .CodeMirror-cursor {border-left: 1px solid #aabcce !important;}

.cm-s-base16-harmonic16-dark span.cm-comment {color: #bf5656;}
.cm-s-base16-harmonic16-dark span.cm-atom {color: #bf568b;}
.cm-s-base16-harmonic16-dark span.cm-number {color: #bf568b;}

.cm-s-base16-harmonic16-dark span.cm-property, .cm-s-base16-harmonic16-dark span.cm-attribute {color: #56bf8b;}
.cm-s-base16-harmonic16-dark span.cm-keyword {color: #bf8b56;}
.cm-s-base16-harmonic16-dark span.cm-string {color: #8bbf56;}

.cm-s-base16-harmonic16-dark span.cm-variable {color: #56bf8b;}
.cm-s-base16-harmonic16-dark span.cm-variable-2 {color: #8b56bf;}
.cm-s-base16-harmonic16-dark span.cm-def {color: #bfbf56;}
.cm-s-base16-harmonic16-dark span.cm-error {background: #bf8b56; color: #aabcce;}
.cm-s-base16-harmonic16-dark span.cm-bracket {color: #e5ebf1;}
.cm-s-base16-harmonic16-dark span.cm-tag {color: #bf8b56;}
.cm-s-base16-harmonic16-dark span.cm-link {color: #bf568b;}

.cm-s-base16-harmonic16-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
