/*

    Name:       Base16 Bright Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-bright-light.CodeMirror {background: #ffffff; color: #303030;}
.cm-s-base16-bright-light div.CodeMirror-selected {background: #f5f5f5 !important;}
.cm-s-base16-bright-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-bright-light .CodeMirror-linenumber {color: #d0d0d0;}
.cm-s-base16-bright-light .CodeMirror-cursor {border-left: 1px solid #b0b0b0 !important;}

.cm-s-base16-bright-light span.cm-comment {color: #be643c;}
.cm-s-base16-bright-light span.cm-atom {color: #d381c3;}
.cm-s-base16-bright-light span.cm-number {color: #d381c3;}

.cm-s-base16-bright-light span.cm-property, .cm-s-base16-bright-light span.cm-attribute {color: #a1c659;}
.cm-s-base16-bright-light span.cm-keyword {color: #fb0120;}
.cm-s-base16-bright-light span.cm-string {color: #fda331;}

.cm-s-base16-bright-light span.cm-variable {color: #a1c659;}
.cm-s-base16-bright-light span.cm-variable-2 {color: #6fb3d2;}
.cm-s-base16-bright-light span.cm-def {color: #fc6d24;}
.cm-s-base16-bright-light span.cm-error {background: #fb0120; color: #b0b0b0;}
.cm-s-base16-bright-light span.cm-bracket {color: #303030;}
.cm-s-base16-bright-light span.cm-tag {color: #fb0120;}
.cm-s-base16-bright-light span.cm-link {color: #d381c3;}

.cm-s-base16-bright-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
