/*

    Name:       Base16 IR Black Light
    Author:     Timothée Poisot (http://timotheepoisot.fr)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-irblack-light.CodeMirror {background: #fdfbee; color: #242422;}
.cm-s-base16-irblack-light div.CodeMirror-selected {background: #d9d7cc !important;}
.cm-s-base16-irblack-light .CodeMirror-gutters {background: #fdfbee; border-right: 0px;}
.cm-s-base16-irblack-light .CodeMirror-linenumber {color: #918f88;}
.cm-s-base16-irblack-light .CodeMirror-cursor {border-left: 1px solid #6c6c66 !important;}

.cm-s-base16-irblack-light span.cm-comment {color: #b18a3d;}
.cm-s-base16-irblack-light span.cm-atom {color: #ff73fd;}
.cm-s-base16-irblack-light span.cm-number {color: #ff73fd;}

.cm-s-base16-irblack-light span.cm-property, .cm-s-base16-irblack-light span.cm-attribute {color: #a8ff60;}
.cm-s-base16-irblack-light span.cm-keyword {color: #ff6c60;}
.cm-s-base16-irblack-light span.cm-string {color: #ffffb6;}

.cm-s-base16-irblack-light span.cm-variable {color: #a8ff60;}
.cm-s-base16-irblack-light span.cm-variable-2 {color: #96cbfe;}
.cm-s-base16-irblack-light span.cm-def {color: #e9c062;}
.cm-s-base16-irblack-light span.cm-error {background: #ff6c60; color: #6c6c66;}
.cm-s-base16-irblack-light span.cm-bracket {color: #242422;}
.cm-s-base16-irblack-light span.cm-tag {color: #ff6c60;}
.cm-s-base16-irblack-light span.cm-link {color: #ff73fd;}

.cm-s-base16-irblack-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
