/*

    Name:       Base16 Codeschool Light
    Author:     brettof86

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-codeschool-light.CodeMirror {background: #b5d8f6; color: #1c3657;}
.cm-s-base16-codeschool-light div.CodeMirror-selected {background: #a7cfa3 !important;}
.cm-s-base16-codeschool-light .CodeMirror-gutters {background: #b5d8f6; border-right: 0px;}
.cm-s-base16-codeschool-light .CodeMirror-linenumber {color: #84898c;}
.cm-s-base16-codeschool-light .CodeMirror-cursor {border-left: 1px solid #3f4944 !important;}

.cm-s-base16-codeschool-light span.cm-comment {color: #c98344;}
.cm-s-base16-codeschool-light span.cm-atom {color: #c59820;}
.cm-s-base16-codeschool-light span.cm-number {color: #c59820;}

.cm-s-base16-codeschool-light span.cm-property, .cm-s-base16-codeschool-light span.cm-attribute {color: #237986;}
.cm-s-base16-codeschool-light span.cm-keyword {color: #2a5491;}
.cm-s-base16-codeschool-light span.cm-string {color: #a03b1e;}

.cm-s-base16-codeschool-light span.cm-variable {color: #237986;}
.cm-s-base16-codeschool-light span.cm-variable-2 {color: #484d79;}
.cm-s-base16-codeschool-light span.cm-def {color: #43820d;}
.cm-s-base16-codeschool-light span.cm-error {background: #2a5491; color: #3f4944;}
.cm-s-base16-codeschool-light span.cm-bracket {color: #1c3657;}
.cm-s-base16-codeschool-light span.cm-tag {color: #2a5491;}
.cm-s-base16-codeschool-light span.cm-link {color: #c59820;}

.cm-s-base16-codeschool-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
