/*

    Name:       Base16 Hopscotch Light
    Author:     Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-hopscotch-light.CodeMirror {background: #ffffff; color: #433b42;}
.cm-s-base16-hopscotch-light div.CodeMirror-selected {background: #d5d3d5 !important;}
.cm-s-base16-hopscotch-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-hopscotch-light .CodeMirror-linenumber {color: #989498;}
.cm-s-base16-hopscotch-light .CodeMirror-cursor {border-left: 1px solid #797379 !important;}

.cm-s-base16-hopscotch-light span.cm-comment {color: #b33508;}
.cm-s-base16-hopscotch-light span.cm-atom {color: #c85e7c;}
.cm-s-base16-hopscotch-light span.cm-number {color: #c85e7c;}

.cm-s-base16-hopscotch-light span.cm-property, .cm-s-base16-hopscotch-light span.cm-attribute {color: #8fc13e;}
.cm-s-base16-hopscotch-light span.cm-keyword {color: #dd464c;}
.cm-s-base16-hopscotch-light span.cm-string {color: #fdcc59;}

.cm-s-base16-hopscotch-light span.cm-variable {color: #8fc13e;}
.cm-s-base16-hopscotch-light span.cm-variable-2 {color: #1290bf;}
.cm-s-base16-hopscotch-light span.cm-def {color: #fd8b19;}
.cm-s-base16-hopscotch-light span.cm-error {background: #dd464c; color: #797379;}
.cm-s-base16-hopscotch-light span.cm-bracket {color: #433b42;}
.cm-s-base16-hopscotch-light span.cm-tag {color: #dd464c;}
.cm-s-base16-hopscotch-light span.cm-link {color: #c85e7c;}

.cm-s-base16-hopscotch-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
