/*

    Name:       Base16 Darktooth Light
    Author:     Jason Milkins (https://github.com/jasonm23)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-darktooth-light.CodeMirror {background: #FDF4C1; color: #32302F;}
.cm-s-base16-darktooth-light div.CodeMirror-selected {background: #D5C4A1 !important;}
.cm-s-base16-darktooth-light .CodeMirror-gutters {background: #FDF4C1; border-right: 0px;}
.cm-s-base16-darktooth-light .CodeMirror-linenumber {color: #928374;}
.cm-s-base16-darktooth-light .CodeMirror-cursor {border-left: 1px solid #665C54 !important;}

.cm-s-base16-darktooth-light span.cm-comment {color: #A87322;}
.cm-s-base16-darktooth-light span.cm-atom {color: #8F4673;}
.cm-s-base16-darktooth-light span.cm-number {color: #8F4673;}

.cm-s-base16-darktooth-light span.cm-property, .cm-s-base16-darktooth-light span.cm-attribute {color: #95C085;}
.cm-s-base16-darktooth-light span.cm-keyword {color: #FB543F;}
.cm-s-base16-darktooth-light span.cm-string {color: #FAC03B;}

.cm-s-base16-darktooth-light span.cm-variable {color: #95C085;}
.cm-s-base16-darktooth-light span.cm-variable-2 {color: #0D6678;}
.cm-s-base16-darktooth-light span.cm-def {color: #FE8625;}
.cm-s-base16-darktooth-light span.cm-error {background: #FB543F; color: #665C54;}
.cm-s-base16-darktooth-light span.cm-bracket {color: #32302F;}
.cm-s-base16-darktooth-light span.cm-tag {color: #FB543F;}
.cm-s-base16-darktooth-light span.cm-link {color: #8F4673;}

.cm-s-base16-darktooth-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
