/*

    Name:       Base16 PhD Light
    Author:     Hennig Hasemann (http://leetless.de/vim.html)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-phd-light.CodeMirror {background: #ffffff; color: #2a3448;}
.cm-s-base16-phd-light div.CodeMirror-selected {background: #dbdde0 !important;}
.cm-s-base16-phd-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-phd-light .CodeMirror-linenumber {color: #9a99a3;}
.cm-s-base16-phd-light .CodeMirror-cursor {border-left: 1px solid #717885 !important;}

.cm-s-base16-phd-light span.cm-comment {color: #b08060;}
.cm-s-base16-phd-light span.cm-atom {color: #9989cc;}
.cm-s-base16-phd-light span.cm-number {color: #9989cc;}

.cm-s-base16-phd-light span.cm-property, .cm-s-base16-phd-light span.cm-attribute {color: #99bf52;}
.cm-s-base16-phd-light span.cm-keyword {color: #d07346;}
.cm-s-base16-phd-light span.cm-string {color: #fbd461;}

.cm-s-base16-phd-light span.cm-variable {color: #99bf52;}
.cm-s-base16-phd-light span.cm-variable-2 {color: #5299bf;}
.cm-s-base16-phd-light span.cm-def {color: #f0a000;}
.cm-s-base16-phd-light span.cm-error {background: #d07346; color: #717885;}
.cm-s-base16-phd-light span.cm-bracket {color: #2a3448;}
.cm-s-base16-phd-light span.cm-tag {color: #d07346;}
.cm-s-base16-phd-light span.cm-link {color: #9989cc;}

.cm-s-base16-phd-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
