/*

    Name:       Base16 Grayscale Light
    Author:     Alexandre Gavioli (https://github.com/Alexx2/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-grayscale-light.CodeMirror {background: #f7f7f7; color: #252525;}
.cm-s-base16-grayscale-light div.CodeMirror-selected {background: #e3e3e3 !important;}
.cm-s-base16-grayscale-light .CodeMirror-gutters {background: #f7f7f7; border-right: 0px;}
.cm-s-base16-grayscale-light .CodeMirror-linenumber {color: #ababab;}
.cm-s-base16-grayscale-light .CodeMirror-cursor {border-left: 1px solid #525252 !important;}

.cm-s-base16-grayscale-light span.cm-comment {color: #5e5e5e;}
.cm-s-base16-grayscale-light span.cm-atom {color: #747474;}
.cm-s-base16-grayscale-light span.cm-number {color: #747474;}

.cm-s-base16-grayscale-light span.cm-property, .cm-s-base16-grayscale-light span.cm-attribute {color: #8e8e8e;}
.cm-s-base16-grayscale-light span.cm-keyword {color: #7c7c7c;}
.cm-s-base16-grayscale-light span.cm-string {color: #a0a0a0;}

.cm-s-base16-grayscale-light span.cm-variable {color: #8e8e8e;}
.cm-s-base16-grayscale-light span.cm-variable-2 {color: #686868;}
.cm-s-base16-grayscale-light span.cm-def {color: #999999;}
.cm-s-base16-grayscale-light span.cm-error {background: #7c7c7c; color: #525252;}
.cm-s-base16-grayscale-light span.cm-bracket {color: #252525;}
.cm-s-base16-grayscale-light span.cm-tag {color: #7c7c7c;}
.cm-s-base16-grayscale-light span.cm-link {color: #747474;}

.cm-s-base16-grayscale-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
