[Unit]
Description=Transmission Daemon
Documentation=man:transmission-daemon(1)
PartOf=graphical-session.target
Requires=check-metered-connection.service
After=check-metered-connection.service

[Service]
ExecStart=/usr/bin/transmission-daemon --foreground
Restart=on-failure

[Install]
WantedBy=sway-session.target
