/* source: https://github.com/catppuccin/waybar/blob/main/themes/mocha.css */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color bar-background @base;
@define-color foreground @text;
@define-color background @surface0;
@define-color cursor @text;
@define-color active @text;
@define-color inactive @subtext0;

* {
  font-size: 16px;
  font-family: "monospace";
  min-width: 16px;
  min-height: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: transparent;
  color: @foreground;
}

window#waybar.right {
  margin-left: 4px;
}
window#waybar.left {
  margin-right: 4px;
}

menu,
tooltip {
  border-radius: 8px;
  padding: 2px;
  border: 1px solid @overlay0;
  background: alpha(@background, 0.9);

  color: @foreground;
}

menu label,
tooltip label {
  font-size: 14px;
}

#tray>.needs-attention {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.modules-left,
.modules-right {
  background: @bar-background;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.right .modules-center,
window#waybar.right .modules-left {
  border-bottom-left-radius: 8px;
}
window#waybar.right .modules-center,
window#waybar.right .modules-right {
  border-top-left-radius: 8px;
}

window#waybar.left .modules-center,
window#waybar.left .modules-left {
  border-bottom-right-radius: 8px;
}
window#waybar.left .modules-center,
window#waybar.left .modules-right {
  border-top-right-radius: 8px;
}


/** modules */
#custom-notification,
#tray,
#workspaces,
/** groups */
#audio-output,
#audio-input,
#net,
#bt,
#power,
#time
{
  border-radius: 6px;
  padding: 6px 4px;
  margin: 4px;
  margin-bottom: 0;
  background: @background;
}

/* first and last modules/groups */
#workspaces {
  margin-bottom: 4px;
}
#custom-notification {
  margin-top: 0;
}
#time {
  margin-bottom: 0;
}

/* custom notification */
#custom-notification {
  background: transparent;
  color: @overlay0;
}
#custom-notification.notification {
  background: @background;
  color: @red;
}
#custom-notification.dnd-notification {
  background: @background;
  color: @foreground;
}

/* workspaces */
#workspaces {
  padding: 0;
}

/* workspace first/last button corners */
#workspaces button:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#workspaces button:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#workspaces button {
  transition-property: background-color;
  transition-duration: 0.3s;
  background: transparent;
  color: @text;
  padding: 4px;
}

#workspaces button.active {
  color: @text;
  background: @surface1;
}

#workspaces button.urgent {
  font-weight: bold;
  color: @background;
  background: @yellow;
}

#tray {
  padding: 4px;
}

#battery.full,
#battery.plugged {
  color: @green;
}

#battery.discharging.warning {
  animation-name: blink-yellow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.critical {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  font-weight: bold;
  padding: 2px 0
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
  color: @red;
  background-color: @background;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background-color: transparent;
  box-shadow: none;
  border-radius: 4px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: 4px;
  min-width: 6px;
  min-height: 100px;
  border-radius: 8px;
  background-color: alpha(@background, 0.6);
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: lighter(@active);
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
  /* border-radius: 8px; */
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink-active {
  to {
    background-color: @active;
    color: @foreground;
  }
}

@keyframes blink-red {
  to {
    background-color: @red;
    color: @foreground;
  }
}

@keyframes blink-yellow {
  to {
    background-color: @yellow;
    color: @foreground;
  }
}
