/*

    Name:       Base16 Ocean Light
    Author:     Chris Kempson (http://chriskempson.com)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #2b303b;
$base01 = #343d46;
$base02 = #4f5b66;
$base03 = #65737e;
$base04 = #a7adba;
$base05 = #c0c5ce;
$base06 = #dfe1e8;
$base07 = #eff1f5;
$base08 = #bf616a;
$base09 = #d08770;
$base0a = #ebcb8b;
$base0b = #a3be8c;
$base0c = #96b5b4;
$base0d = #8fa1b3;
$base0e = #b48ead;
$base0f = #ab7967;

// Ocean Comment
.hljs-comment {
  color: $base03;
}

// Ocean Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Ocean Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Ocean Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0A;
}

// Ocean Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0B;
}

// Ocean Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0C;
}

// Ocean Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0D;
}

// Ocean Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0E;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base07;
  color: $base02;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
