/*

    Name:       Base16 Codeschool Dark
    Author:     brettof86

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #232c31;
$base01 = #1c3657;
$base02 = #2a343a;
$base03 = #3f4944;
$base04 = #84898c;
$base05 = #9ea7a6;
$base06 = #a7cfa3;
$base07 = #b5d8f6;
$base08 = #2a5491;
$base09 = #43820d;
$base0a = #a03b1e;
$base0b = #237986;
$base0c = #b02f30;
$base0d = #484d79;
$base0e = #c59820;
$base0f = #c98344;

// Codeschool Comment
.hljs-comment {
  color: $base04;
}

// Codeschool Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Codeschool Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Codeschool Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0a;
}

// Codeschool Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0b;
}

// Codeschool Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0c;
}

// Codeschool Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0d;
}

// Codeschool Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base00;
  color: $base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
