/*

    Name:       Base16 Yesterday Bright Dark
    Author:     FroZnShiva (https://github.com/FroZnShiva)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #343d46;
$base01 = #4f5b66;
$base02 = #65737e;
$base03 = #a7adba;
$base04 = #c0c5ce;
$base05 = #dfe1e8;
$base06 = #eff1f5;
$base07 = #ffffff;
$base08 = #d54e53;
$base09 = #e78c45;
$base0a = #e7c547;
$base0b = #b9ca4a;
$base0c = #70c0b1;
$base0d = #7aa6da;
$base0e = #c397d8;
$base0f = #9a806d;

// Yesterday Bright Comment
.hljs-comment {
  color: $base04;
}

// Yesterday Bright Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Yesterday Bright Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Yesterday Bright Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0a;
}

// Yesterday Bright Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0b;
}

// Yesterday Bright Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0c;
}

// Yesterday Bright Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0d;
}

// Yesterday Bright Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base00;
  color: $base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
