/*

    Name:       Base16 IR Black Light
    Author:     Timothée Poisot (http://timotheepoisot.fr)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #000000;
$base01 = #242422;
$base02 = #484844;
$base03 = #6c6c66;
$base04 = #918f88;
$base05 = #b5b3aa;
$base06 = #d9d7cc;
$base07 = #fdfbee;
$base08 = #ff6c60;
$base09 = #e9c062;
$base0a = #ffffb6;
$base0b = #a8ff60;
$base0c = #c6c5fe;
$base0d = #96cbfe;
$base0e = #ff73fd;
$base0f = #b18a3d;

// IR Black Comment
.hljs-comment {
  color: $base03;
}

// IR Black Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// IR Black Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// IR Black Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0A;
}

// IR Black Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0B;
}

// IR Black Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0C;
}

// IR Black Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0D;
}

// IR Black Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0E;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base07;
  color: $base02;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
