/*

    Name:       Base16 Yesterday Light
    Author:     FroZnShiva (https://github.com/FroZnShiva)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Yesterday Comment */
.hljs-comment {
  color: #969896;
}

/* Yesterday Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}

/* Yesterday Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}

/* Yesterday Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #eab700;
}

/* Yesterday Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}

/* Yesterday Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #3e999f;
}

/* Yesterday Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}

/* Yesterday Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #1d1f21;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #c82829;
}
.diff .hljs-addition {
  background-color: #718c00;
}
.diff .hljs-change {
  color: #4271ae;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #ffffff;
  color: #4d4d4c;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
