/*

    Name:       Base16 Yesterday Night Light
    Author:     FroZnShiva (https://github.com/FroZnShiva)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Yesterday Night Comment */
.hljs-comment {
  color: #a7adba;
}

/* Yesterday Night Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #cc6666;
}

/* Yesterday Night Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #de935f;
}

/* Yesterday Night Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #f0c674;
}

/* Yesterday Night Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b5bd68;
}

/* Yesterday Night Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #8abeb7;
}

/* Yesterday Night Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #81a2be;
}

/* Yesterday Night Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #b294bb;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #343d46;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #cc6666;
}
.diff .hljs-addition {
  background-color: #b5bd68;
}
.diff .hljs-change {
  color: #81a2be;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #ffffff;
  color: #65737e;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
