/*

    Name:       Base16 Bright Light
    Author:     Chris Kempson (http://chriskempson.com)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Bright Comment */
.hljs-comment {
  color: #b0b0b0;
}

/* Bright Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #fb0120;
}

/* Bright Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #fc6d24;
}

/* Bright Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #fda331;
}

/* Bright Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #a1c659;
}

/* Bright Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #76c7b7;
}

/* Bright Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #6fb3d2;
}

/* Bright Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #d381c3;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #000000;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #fb0120;
}
.diff .hljs-addition {
  background-color: #a1c659;
}
.diff .hljs-change {
  color: #6fb3d2;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #ffffff;
  color: #505050;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
