/*

    Name:       Base16 Colors Dark
    Author:     mrmrs (http://clrs.cc)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Colors Comment */
.hljs-comment {
  color: #999999;
}

/* Colors Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #ff4136;
}

/* Colors Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #ff851b;
}

/* Colors Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #ffdc00;
}

/* Colors Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #2ecc40;
}

/* Colors Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #7fdbff;
}

/* Colors Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #0074d9;
}

/* Colors Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #b10dc9;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #111111;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #ff4136;
}
.diff .hljs-addition {
  background-color: #2ecc40;
}
.diff .hljs-change {
  color: #0074d9;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #111111;
  color: #bbbbbb;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
