[colors]
# Base16 Yesterday Night
# Scheme: FroZnShiva (https://github.com/FroZnShiva)

foreground      = #dfe1e8
foreground_bold = #dfe1e8
cursor          = #dfe1e8
background      = #343d46

# 16 color space
color0  = #343d46
color1  = #cc6666
color2  = #b5bd68
color3  = #f0c674
color4  = #81a2be
color5  = #b294bb
color6  = #8abeb7
color7  = #dfe1e8
color8  = #a7adba
color9  = #cc6666
color10 = #b5bd68
color11 = #f0c674
color12 = #81a2be
color13 = #b294bb
color14 = #8abeb7
color15 = #ffffff

# 256 color space
color16 = #de935f
color17 = #a3685a
color18 = #4f5b66
color19 = #65737e
color20 = #c0c5ce
color21 = #eff1f5
