/*

Name: Base16 shapeshifter
Author: Tyler Benziger (http://tybenz.com)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #000000;
@base01: #040404;
@base02: #102015;
@base03: #343434;
@base04: #555555;
@base05: #ababab;
@base06: #e0e0e0;
@base07: #f9f9f9;
@base08: #e92f2f;
@base09: #e09448;
@base0a: #dddd13;
@base0b: #0ed839;
@base0c: #23edda;
@base0d: #3b48e3;
@base0e: #f996e2;
@base0f: #69542d;
