/*

Name: Base16 Yesterday Bright
Author: FroZnShiva (https://github.com/FroZnShiva)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #343d46;
@base01: #4f5b66;
@base02: #65737e;
@base03: #a7adba;
@base04: #c0c5ce;
@base05: #dfe1e8;
@base06: #eff1f5;
@base07: #ffffff;
@base08: #d54e53;
@base09: #e78c45;
@base0a: #e7c547;
@base0b: #b9ca4a;
@base0c: #70c0b1;
@base0d: #7aa6da;
@base0e: #c397d8;
@base0f: #9a806d;
