/*

Name: Base16 Atelier Cave
Author: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #19171c;
$base01 = #26232a;
$base02 = #585260;
$base03 = #655f6d;
$base04 = #7e7887;
$base05 = #8b8792;
$base06 = #e2dfe7;
$base07 = #efecf4;
$base08 = #be4678;
$base09 = #aa573c;
$base0a = #a06e3b;
$base0b = #2a9292;
$base0c = #398bc6;
$base0d = #576ddb;
$base0e = #955ae7;
$base0f = #bf40bf;
