/*

Name: Base16 Google
Author: Seth Wright (http://sethawright.com)

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #1d1f21;
$base01 = #282a2e;
$base02 = #373b41;
$base03 = #969896;
$base04 = #b4b7b4;
$base05 = #c5c8c6;
$base06 = #e0e0e0;
$base07 = #ffffff;
$base08 = #CC342B;
$base09 = #F96A38;
$base0a = #FBA922;
$base0b = #198844;
$base0c = #3971ED;
$base0d = #3971ED;
$base0e = #A36AC7;
$base0f = #3971ED;
