/*

    Name:       Base16 Pop Dark
    Author:     Chris Kempson (http://chriskempson.com)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #000000;
@base01: #202020;
@base02: #303030;
@base03: #505050;
@base04: #b0b0b0;
@base05: #d0d0d0;
@base06: #e0e0e0;
@base07: #ffffff;
@base08: #eb008a;
@base09: #f29333;
@base0a: #f8ca12;
@base0b: #37b349;
@base0c: #00aabb;
@base0d: #0e5a94;
@base0e: #b31e8d;
@base0f: #7a2d00;

// Pop Comment
.hljs-comment {
  color: @base04;
}

// Pop Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: @base08;
}

// Pop Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: @base09;
}

// Pop Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: @base0a;
}

// Pop Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: @base0b;
}

// Pop Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: @base0c;
}

// Pop Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: @base0d;
}

// Pop Purple
.hljs-keyword,
.javascript .hljs-function {
  color: @base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: @base00;
  color: @base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
