/*

    Name:       Base16 Embers Dark
    Author:     Jannik Siebert (https://github.com/janniks)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

@base00: #16130F;
@base01: #2C2620;
@base02: #433B32;
@base03: #5A5047;
@base04: #8A8075;
@base05: #A39A90;
@base06: #BEB6AE;
@base07: #DBD6D1;
@base08: #826D57;
@base09: #828257;
@base0a: #6D8257;
@base0b: #57826D;
@base0c: #576D82;
@base0d: #6D5782;
@base0e: #82576D;
@base0f: #825757;

// Embers Comment
.hljs-comment {
  color: @base04;
}

// Embers Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: @base08;
}

// Embers Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: @base09;
}

// Embers Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: @base0a;
}

// Embers Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: @base0b;
}

// Embers Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: @base0c;
}

// Embers Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: @base0d;
}

// Embers Purple
.hljs-keyword,
.javascript .hljs-function {
  color: @base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: @base00;
  color: @base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
