[Unit]
Description=Mailbox synchronization service for group %I
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync %i
ExecStartPost=/usr/bin/mu index --maildir=%h/mail
