[global_config]
  title_transmit_bg_color = "#ff4136"
  title_inactive_bg_color = "#777777"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#111111:#ff4136:#2ecc40:#ffdc00:#0074d9:#b10dc9:#7fdbff:#bbbbbb:#777777:#ff4136:#2ecc40:#ffdc00:#0074d9:#b10dc9:#7fdbff:#ffffff"
    foreground_color = "#bbbbbb"
    background_color = "#111111"
    cursor_color = "#bbbbbb"

  [[Base16 Colors Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#111111:#ff4136:#2ecc40:#ffdc00:#0074d9:#b10dc9:#7fdbff:#bbbbbb:#777777:#ff4136:#2ecc40:#ffdc00:#0074d9:#b10dc9:#7fdbff:#ffffff"
    foreground_color = "#bbbbbb"
    background_color = "#111111"
    cursor_color = "#bbbbbb"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Colors Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
