[global_config]
  title_transmit_bg_color = "#ff0000"
  title_inactive_bg_color = "#808080"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#ff0000:#33ff00:#ff0099:#0066ff:#cc00ff:#00ffff:#d0d0d0:#808080:#ff0000:#33ff00:#ff0099:#0066ff:#cc00ff:#00ffff:#ffffff"
    foreground_color = "#606060"
    background_color = "#ffffff"
    cursor_color = "#606060"

  [[Base16 Isotope Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffffff:#ff0000:#33ff00:#ff0099:#0066ff:#cc00ff:#00ffff:#d0d0d0:#808080:#ff0000:#33ff00:#ff0099:#0066ff:#cc00ff:#00ffff:#000000"
    foreground_color = "#606060"
    background_color = "#ffffff"
    cursor_color = "#606060"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Isotope Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
