[global_config]
  title_transmit_bg_color = "#dd464c"
  title_inactive_bg_color = "#797379"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#322931:#dd464c:#8fc13e:#fdcc59:#1290bf:#c85e7c:#149b93:#b9b5b8:#797379:#dd464c:#8fc13e:#fdcc59:#1290bf:#c85e7c:#149b93:#ffffff"
    foreground_color = "#5c545b"
    background_color = "#ffffff"
    cursor_color = "#5c545b"

  [[Base16 Hopscotch Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffffff:#dd464c:#8fc13e:#fdcc59:#1290bf:#c85e7c:#149b93:#b9b5b8:#797379:#dd464c:#8fc13e:#fdcc59:#1290bf:#c85e7c:#149b93:#322931"
    foreground_color = "#5c545b"
    background_color = "#ffffff"
    cursor_color = "#5c545b"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Hopscotch Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
