[global_config]
  title_transmit_bg_color = "#dd0907"
  title_inactive_bg_color = "#808080"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#dd0907:#1fb714:#fbf305:#0000d3:#4700a5:#02abea:#c0c0c0:#808080:#dd0907:#1fb714:#fbf305:#0000d3:#4700a5:#02abea:#ffffff"
    foreground_color = "#404040"
    background_color = "#ffffff"
    cursor_color = "#404040"

  [[Base16 Macintosh Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffffff:#dd0907:#1fb714:#fbf305:#0000d3:#4700a5:#02abea:#c0c0c0:#808080:#dd0907:#1fb714:#fbf305:#0000d3:#4700a5:#02abea:#000000"
    foreground_color = "#404040"
    background_color = "#ffffff"
    cursor_color = "#404040"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Macintosh Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
