[global_config]
  title_transmit_bg_color = "#cc6666"
  title_inactive_bg_color = "#a7adba"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#343d46:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#dfe1e8:#a7adba:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#ffffff"
    foreground_color = "#dfe1e8"
    background_color = "#343d46"
    cursor_color = "#dfe1e8"

  [[Base16 Yesterday Night Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#343d46:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#dfe1e8:#a7adba:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#ffffff"
    foreground_color = "#dfe1e8"
    background_color = "#343d46"
    cursor_color = "#dfe1e8"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Yesterday Night Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
