[global_config]
  title_transmit_bg_color = "#Cd3f45"
  title_inactive_bg_color = "#41535B"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#151718:#Cd3f45:#9fca56:#e6cd69:#55b5db:#a074c4:#55dbbe:#d6d6d6:#41535B:#Cd3f45:#9fca56:#e6cd69:#55b5db:#a074c4:#55dbbe:#ffffff"
    foreground_color = "#3B758C"
    background_color = "#ffffff"
    cursor_color = "#3B758C"

  [[Base16 Seti UI Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffffff:#Cd3f45:#9fca56:#e6cd69:#55b5db:#a074c4:#55dbbe:#d6d6d6:#41535B:#Cd3f45:#9fca56:#e6cd69:#55b5db:#a074c4:#55dbbe:#151718"
    foreground_color = "#3B758C"
    background_color = "#ffffff"
    cursor_color = "#3B758C"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Seti UI Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
