[global_config]
  title_transmit_bg_color = "#cc6666"
  title_inactive_bg_color = "#969896"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1d1f21:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#c5c8c6:#969896:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#ffffff"
    foreground_color = "#373b41"
    background_color = "#ffffff"
    cursor_color = "#373b41"

  [[Base16 Tomorrow Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffffff:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#c5c8c6:#969896:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#1d1f21"
    foreground_color = "#373b41"
    background_color = "#ffffff"
    cursor_color = "#373b41"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Tomorrow Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
