[global_config]
  title_transmit_bg_color = "#dc322f"
  title_inactive_bg_color = "#657b83"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#002b36:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#93a1a1:#657b83:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#fdf6e3"
    foreground_color = "#586e75"
    background_color = "#fdf6e3"
    cursor_color = "#586e75"

  [[Base16 Solarized Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#fdf6e3:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#93a1a1:#657b83:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#002b36"
    foreground_color = "#586e75"
    background_color = "#fdf6e3"
    cursor_color = "#586e75"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Solarized Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
