[global_config]
  title_transmit_bg_color = "#e31a1c"
  title_inactive_bg_color = "#737475"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0c0d0e:#e31a1c:#31a354:#dca060:#3182bd:#756bb1:#80b1d3:#b7b8b9:#737475:#e31a1c:#31a354:#dca060:#3182bd:#756bb1:#80b1d3:#fcfdfe"
    foreground_color = "#b7b8b9"
    background_color = "#0c0d0e"
    cursor_color = "#b7b8b9"

  [[Base16 Brewer Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0c0d0e:#e31a1c:#31a354:#dca060:#3182bd:#756bb1:#80b1d3:#b7b8b9:#737475:#e31a1c:#31a354:#dca060:#3182bd:#756bb1:#80b1d3:#fcfdfe"
    foreground_color = "#b7b8b9"
    background_color = "#0c0d0e"
    cursor_color = "#b7b8b9"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Brewer Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
