[global_config]
  title_transmit_bg_color = "#c35359"
  title_inactive_bg_color = "#6c6823"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#201602:#c35359:#18974e:#a88339:#477ca1:#8868b3:#75a738:#948e48:#6c6823:#c35359:#18974e:#a88339:#477ca1:#8868b3:#75a738:#faf0a5"
    foreground_color = "#948e48"
    background_color = "#201602"
    cursor_color = "#948e48"

  [[Base16 Marrakesh Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#201602:#c35359:#18974e:#a88339:#477ca1:#8868b3:#75a738:#948e48:#6c6823:#c35359:#18974e:#a88339:#477ca1:#8868b3:#75a738:#faf0a5"
    foreground_color = "#948e48"
    background_color = "#201602"
    cursor_color = "#948e48"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Marrakesh Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
