[global_config]
  title_transmit_bg_color = "#ff6c60"
  title_inactive_bg_color = "#6c6c66"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#ff6c60:#a8ff60:#ffffb6:#96cbfe:#ff73fd:#c6c5fe:#b5b3aa:#6c6c66:#ff6c60:#a8ff60:#ffffb6:#96cbfe:#ff73fd:#c6c5fe:#fdfbee"
    foreground_color = "#b5b3aa"
    background_color = "#000000"
    cursor_color = "#b5b3aa"

  [[Base16 IR Black Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#ff6c60:#a8ff60:#ffffb6:#96cbfe:#ff73fd:#c6c5fe:#b5b3aa:#6c6c66:#ff6c60:#a8ff60:#ffffb6:#96cbfe:#ff73fd:#c6c5fe:#fdfbee"
    foreground_color = "#b5b3aa"
    background_color = "#000000"
    cursor_color = "#b5b3aa"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 IR Black Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
