[global_config]
  title_transmit_bg_color = "#007700"
  title_inactive_bg_color = "#007700"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#001100:#007700:#00bb00:#007700:#009900:#00bb00:#005500:#00bb00:#007700:#007700:#00bb00:#007700:#009900:#00bb00:#005500:#00ff00"
    foreground_color = "#005500"
    background_color = "#00ff00"
    cursor_color = "#005500"

  [[Base16 Green Screen Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#00ff00:#007700:#00bb00:#007700:#009900:#00bb00:#005500:#00bb00:#007700:#007700:#00bb00:#007700:#009900:#00bb00:#005500:#001100"
    foreground_color = "#005500"
    background_color = "#00ff00"
    cursor_color = "#005500"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Green Screen Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
