[global_config]
  title_transmit_bg_color = "#fb0120"
  title_inactive_bg_color = "#b0b0b0"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#fb0120:#a1c659:#fda331:#6fb3d2:#d381c3:#76c7b7:#e0e0e0:#b0b0b0:#fb0120:#a1c659:#fda331:#6fb3d2:#d381c3:#76c7b7:#ffffff"
    foreground_color = "#e0e0e0"
    background_color = "#000000"
    cursor_color = "#e0e0e0"

  [[Base16 Bright Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#fb0120:#a1c659:#fda331:#6fb3d2:#d381c3:#76c7b7:#e0e0e0:#b0b0b0:#fb0120:#a1c659:#fda331:#6fb3d2:#d381c3:#76c7b7:#ffffff"
    foreground_color = "#e0e0e0"
    background_color = "#000000"
    cursor_color = "#e0e0e0"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Bright Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
