[global_config]
  title_transmit_bg_color = "#db2d20"
  title_inactive_bg_color = "#5c5855"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#090300:#db2d20:#01a252:#fded02:#01a0e4:#a16a94:#b5e4f4:#a5a2a2:#5c5855:#db2d20:#01a252:#fded02:#01a0e4:#a16a94:#b5e4f4:#f7f7f7"
    foreground_color = "#a5a2a2"
    background_color = "#090300"
    cursor_color = "#a5a2a2"

  [[Base16 3024 Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#090300:#db2d20:#01a252:#fded02:#01a0e4:#a16a94:#b5e4f4:#a5a2a2:#5c5855:#db2d20:#01a252:#fded02:#01a0e4:#a16a94:#b5e4f4:#f7f7f7"
    foreground_color = "#a5a2a2"
    background_color = "#090300"
    cursor_color = "#a5a2a2"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 3024 Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
