[global_config]
  title_transmit_bg_color = "#3E9688"
  title_inactive_bg_color = "#2B685E"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#031A16:#3E9688:#883E96:#3E4C96:#96883E:#4C963E:#963E4C:#81B5AC:#2B685E:#3E9688:#883E96:#3E4C96:#96883E:#4C963E:#963E4C:#D2E7E4"
    foreground_color = "#184E45"
    background_color = "#D2E7E4"
    cursor_color = "#184E45"

  [[Base16 Apathy Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#D2E7E4:#3E9688:#883E96:#3E4C96:#96883E:#4C963E:#963E4C:#81B5AC:#2B685E:#3E9688:#883E96:#3E4C96:#96883E:#4C963E:#963E4C:#031A16"
    foreground_color = "#184E45"
    background_color = "#D2E7E4"
    cursor_color = "#184E45"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Apathy Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
