[global_config]
  title_transmit_bg_color = "#ab4642"
  title_inactive_bg_color = "#585858"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#181818:#ab4642:#a1b56c:#f7ca88:#7cafc2:#ba8baf:#86c1b9:#d8d8d8:#585858:#ab4642:#a1b56c:#f7ca88:#7cafc2:#ba8baf:#86c1b9:#f8f8f8"
    foreground_color = "#383838"
    background_color = "#f8f8f8"
    cursor_color = "#383838"

  [[Base16 Default Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#f8f8f8:#ab4642:#a1b56c:#f7ca88:#7cafc2:#ba8baf:#86c1b9:#d8d8d8:#585858:#ab4642:#a1b56c:#f7ca88:#7cafc2:#ba8baf:#86c1b9:#181818"
    foreground_color = "#383838"
    background_color = "#f8f8f8"
    cursor_color = "#383838"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Default Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
