[global_config]
  title_transmit_bg_color = "#eb008a"
  title_inactive_bg_color = "#505050"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#eb008a:#37b349:#f8ca12:#0e5a94:#b31e8d:#00aabb:#d0d0d0:#505050:#eb008a:#37b349:#f8ca12:#0e5a94:#b31e8d:#00aabb:#ffffff"
    foreground_color = "#303030"
    background_color = "#ffffff"
    cursor_color = "#303030"

  [[Base16 Pop Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffffff:#eb008a:#37b349:#f8ca12:#0e5a94:#b31e8d:#00aabb:#d0d0d0:#505050:#eb008a:#37b349:#f8ca12:#0e5a94:#b31e8d:#00aabb:#000000"
    foreground_color = "#303030"
    background_color = "#ffffff"
    cursor_color = "#303030"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Pop Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
