[global_config]
  title_transmit_bg_color = "#ef6155"
  title_inactive_bg_color = "#776e71"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2f1e2e:#ef6155:#48b685:#fec418:#06b6ef:#815ba4:#5bc4bf:#a39e9b:#776e71:#ef6155:#48b685:#fec418:#06b6ef:#815ba4:#5bc4bf:#e7e9db"
    foreground_color = "#a39e9b"
    background_color = "#2f1e2e"
    cursor_color = "#a39e9b"

  [[Base16 Paraiso Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2f1e2e:#ef6155:#48b685:#fec418:#06b6ef:#815ba4:#5bc4bf:#a39e9b:#776e71:#ef6155:#48b685:#fec418:#06b6ef:#815ba4:#5bc4bf:#e7e9db"
    foreground_color = "#a39e9b"
    background_color = "#2f1e2e"
    cursor_color = "#a39e9b"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Paraiso Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
