[global_config]
  title_transmit_bg_color = "#FF0086"
  title_inactive_bg_color = "#505050"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#151515:#FF0086:#00C918:#ABA800:#3777E6:#AD00A1:#1faaaa:#D0D0D0:#505050:#FF0086:#00C918:#ABA800:#3777E6:#AD00A1:#1faaaa:#FFFFFF"
    foreground_color = "#303030"
    background_color = "#FFFFFF"
    cursor_color = "#303030"

  [[Base16 Summerfruit Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#FFFFFF:#FF0086:#00C918:#ABA800:#3777E6:#AD00A1:#1faaaa:#D0D0D0:#505050:#FF0086:#00C918:#ABA800:#3777E6:#AD00A1:#1faaaa:#151515"
    foreground_color = "#303030"
    background_color = "#FFFFFF"
    cursor_color = "#303030"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Summerfruit Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
