[global_config]
  title_transmit_bg_color = "#7c7c7c"
  title_inactive_bg_color = "#525252"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#101010:#7c7c7c:#8e8e8e:#a0a0a0:#686868:#747474:#868686:#b9b9b9:#525252:#7c7c7c:#8e8e8e:#a0a0a0:#686868:#747474:#868686:#f7f7f7"
    foreground_color = "#464646"
    background_color = "#f7f7f7"
    cursor_color = "#464646"

  [[Base16 Grayscale Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#f7f7f7:#7c7c7c:#8e8e8e:#a0a0a0:#686868:#747474:#868686:#b9b9b9:#525252:#7c7c7c:#8e8e8e:#a0a0a0:#686868:#747474:#868686:#101010"
    foreground_color = "#464646"
    background_color = "#f7f7f7"
    cursor_color = "#464646"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Grayscale Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
