[global_config]
  title_transmit_bg_color = "#E74C3C"
  title_inactive_bg_color = "#95A5A6"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2C3E50:#E74C3C:#2ECC71:#F1C40F:#3498DB:#9B59B6:#1ABC9C:#e0e0e0:#95A5A6:#E74C3C:#2ECC71:#F1C40F:#3498DB:#9B59B6:#1ABC9C:#ECF0F1"
    foreground_color = "#7F8C8D"
    background_color = "#ECF0F1"
    cursor_color = "#7F8C8D"

  [[Base16 Flat Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ECF0F1:#E74C3C:#2ECC71:#F1C40F:#3498DB:#9B59B6:#1ABC9C:#e0e0e0:#95A5A6:#E74C3C:#2ECC71:#F1C40F:#3498DB:#9B59B6:#1ABC9C:#2C3E50"
    foreground_color = "#7F8C8D"
    background_color = "#ECF0F1"
    cursor_color = "#7F8C8D"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Flat Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
