[global_config]
  title_transmit_bg_color = "#c82829"
  title_inactive_bg_color = "#969896"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1d1f21:#c82829:#718c00:#eab700:#4271ae:#8959a8:#3e999f:#d6d6d6:#969896:#c82829:#718c00:#eab700:#4271ae:#8959a8:#3e999f:#ffffff"
    foreground_color = "#4d4d4c"
    background_color = "#ffffff"
    cursor_color = "#4d4d4c"

  [[Base16 Yesterday Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#ffffff:#c82829:#718c00:#eab700:#4271ae:#8959a8:#3e999f:#d6d6d6:#969896:#c82829:#718c00:#eab700:#4271ae:#8959a8:#3e999f:#1d1f21"
    foreground_color = "#4d4d4c"
    background_color = "#ffffff"
    cursor_color = "#4d4d4c"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Yesterday Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
