[global_config]
  title_transmit_bg_color = "#bf8b56"
  title_inactive_bg_color = "#627e99"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0b1c2c:#bf8b56:#56bf8b:#8bbf56:#8b56bf:#bf568b:#568bbf:#cbd6e2:#627e99:#bf8b56:#56bf8b:#8bbf56:#8b56bf:#bf568b:#568bbf:#f7f9fb"
    foreground_color = "#cbd6e2"
    background_color = "#0b1c2c"
    cursor_color = "#cbd6e2"

  [[Base16 harmonic16 Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0b1c2c:#bf8b56:#56bf8b:#8bbf56:#8b56bf:#bf568b:#568bbf:#cbd6e2:#627e99:#bf8b56:#56bf8b:#8bbf56:#8b56bf:#bf568b:#568bbf:#f7f9fb"
    foreground_color = "#cbd6e2"
    background_color = "#0b1c2c"
    cursor_color = "#cbd6e2"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 harmonic16 Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
