[global_config]
  title_transmit_bg_color = "#2a5491"
  title_inactive_bg_color = "#3f4944"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#232c31:#2a5491:#237986:#a03b1e:#484d79:#c59820:#b02f30:#9ea7a6:#3f4944:#2a5491:#237986:#a03b1e:#484d79:#c59820:#b02f30:#b5d8f6"
    foreground_color = "#2a343a"
    background_color = "#b5d8f6"
    cursor_color = "#2a343a"

  [[Base16 Codeschool Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#b5d8f6:#2a5491:#237986:#a03b1e:#484d79:#c59820:#b02f30:#9ea7a6:#3f4944:#2a5491:#237986:#a03b1e:#484d79:#c59820:#b02f30:#232c31"
    foreground_color = "#2a343a"
    background_color = "#b5d8f6"
    cursor_color = "#2a343a"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Codeschool Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
