[global_config]
  title_transmit_bg_color = "#e92f2f"
  title_inactive_bg_color = "#343434"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#000000:#e92f2f:#0ed839:#dddd13:#3b48e3:#f996e2:#23edda:#ababab:#343434:#e92f2f:#0ed839:#dddd13:#3b48e3:#f996e2:#23edda:#f9f9f9"
    foreground_color = "#102015"
    background_color = "#f9f9f9"
    cursor_color = "#102015"

  [[Base16 shapeshifter Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#f9f9f9:#e92f2f:#0ed839:#dddd13:#3b48e3:#f996e2:#23edda:#ababab:#343434:#e92f2f:#0ed839:#dddd13:#3b48e3:#f996e2:#23edda:#000000"
    foreground_color = "#102015"
    background_color = "#f9f9f9"
    cursor_color = "#102015"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 shapeshifter Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
