[global_config]
  title_transmit_bg_color = "#FB543F"
  title_inactive_bg_color = "#665C54"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1D2021:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#A89984:#665C54:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#FDF4C1"
    foreground_color = "#504945"
    background_color = "#FDF4C1"
    cursor_color = "#504945"

  [[Base16 Darktooth Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#FDF4C1:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#A89984:#665C54:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#1D2021"
    foreground_color = "#504945"
    background_color = "#FDF4C1"
    cursor_color = "#504945"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Darktooth Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
