[global_config]
  title_transmit_bg_color = "#f92672"
  title_inactive_bg_color = "#75715e"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#272822:#f92672:#a6e22e:#f4bf75:#66d9ef:#ae81ff:#a1efe4:#f8f8f2:#75715e:#f92672:#a6e22e:#f4bf75:#66d9ef:#ae81ff:#a1efe4:#f9f8f5"
    foreground_color = "#f8f8f2"
    background_color = "#272822"
    cursor_color = "#f8f8f2"

  [[Base16 Monokai Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#272822:#f92672:#a6e22e:#f4bf75:#66d9ef:#ae81ff:#a1efe4:#f8f8f2:#75715e:#f92672:#a6e22e:#f4bf75:#66d9ef:#ae81ff:#a1efe4:#f9f8f5"
    foreground_color = "#f8f8f2"
    background_color = "#272822"
    cursor_color = "#f8f8f2"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Monokai Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
