[global_config]
  title_transmit_bg_color = "#d07346"
  title_inactive_bg_color = "#717885"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#061229:#d07346:#99bf52:#fbd461:#5299bf:#9989cc:#72b9bf:#b8bbc2:#717885:#d07346:#99bf52:#fbd461:#5299bf:#9989cc:#72b9bf:#ffffff"
    foreground_color = "#b8bbc2"
    background_color = "#061229"
    cursor_color = "#b8bbc2"

  [[Base16 PhD Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#061229:#d07346:#99bf52:#fbd461:#5299bf:#9989cc:#72b9bf:#b8bbc2:#717885:#d07346:#99bf52:#fbd461:#5299bf:#9989cc:#72b9bf:#ffffff"
    foreground_color = "#b8bbc2"
    background_color = "#061229"
    cursor_color = "#b8bbc2"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 PhD Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
