[global_config]
  title_transmit_bg_color = "#826D57"
  title_inactive_bg_color = "#5A5047"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#16130F:#826D57:#57826D:#6D8257:#6D5782:#82576D:#576D82:#A39A90:#5A5047:#826D57:#57826D:#6D8257:#6D5782:#82576D:#576D82:#DBD6D1"
    foreground_color = "#A39A90"
    background_color = "#16130F"
    cursor_color = "#A39A90"

  [[Base16 Embers Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#16130F:#826D57:#57826D:#6D8257:#6D5782:#82576D:#576D82:#A39A90:#5A5047:#826D57:#57826D:#6D8257:#6D5782:#82576D:#576D82:#DBD6D1"
    foreground_color = "#A39A90"
    background_color = "#16130F"
    cursor_color = "#A39A90"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Embers Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
