# wmii
wmii/history.actions
wmii/history.progs
irssi/away.log
irssi/*.autosave

# uzbl
uzbl/local/history
uzbl/local/cookies.txt
uzbl/local/session-cookies.txt
pentadactyl/info/default/command-history

# i3
i3/log

# irssi
irssi/nickserv.auth
vim/view
fonts/typecatcher

