/*

    Name:       Base16 Atelier Estuary Light
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/estuary)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #22221b;
$base01: #302f27;
$base02: #5f5e4e;
$base03: #6c6b5a;
$base04: #878573;
$base05: #929181;
$base06: #e7e6df;
$base07: #f4f3ec;
$base08: #ba6236;
$base09: #ae7313;
$base0a: #a5980d;
$base0b: #7d9726;
$base0c: #5b9d48;
$base0d: #36a166;
$base0e: #5f9182;
$base0f: #9d6c7c;

// Atelier Estuary Comment
.hljs-comment {
  color: $base03;
}

// Atelier Estuary Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Atelier Estuary Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Atelier Estuary Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0A;
}

// Atelier Estuary Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0B;
}

// Atelier Estuary Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0C;
}

// Atelier Estuary Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0D;
}

// Atelier Estuary Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0E;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base07;
  color: $base02;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
