/*

    Name:       Base16 Seti UI Light
    Author:     

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #151718;
$base01: #8ec43d;
$base02: #3B758C;
$base03: #41535B;
$base04: #43a5d5;
$base05: #d6d6d6;
$base06: #eeeeee;
$base07: #ffffff;
$base08: #Cd3f45;
$base09: #db7b55;
$base0a: #e6cd69;
$base0b: #9fca56;
$base0c: #55dbbe;
$base0d: #55b5db;
$base0e: #a074c4;
$base0f: #8a553f;

// Seti UI Comment
.hljs-comment {
  color: $base03;
}

// Seti UI Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Seti UI Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Seti UI Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0A;
}

// Seti UI Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0B;
}

// Seti UI Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0C;
}

// Seti UI Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0D;
}

// Seti UI Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0E;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base07;
  color: $base02;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
