/*

    Name:       Base16 Marrakesh Dark
    Author:     Alexandre Gavioli (http://github.com/Alexx2/)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #201602;
$base01: #302e00;
$base02: #5f5b17;
$base03: #6c6823;
$base04: #86813b;
$base05: #948e48;
$base06: #ccc37a;
$base07: #faf0a5;
$base08: #c35359;
$base09: #b36144;
$base0a: #a88339;
$base0b: #18974e;
$base0c: #75a738;
$base0d: #477ca1;
$base0e: #8868b3;
$base0f: #b3588e;

// Marrakesh Comment
.hljs-comment {
  color: $base04;
}

// Marrakesh Red
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: $base08;
}

// Marrakesh Orange
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: $base09;
}

// Marrakesh Yellow
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: $base0a;
}

// Marrakesh Green
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: $base0b;
}

// Marrakesh Aqua
.hljs-title,
.css .hljs-hexcolor {
  color: $base0c;
}

// Marrakesh Blue
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: $base0d;
}

// Marrakesh Purple
.hljs-keyword,
.javascript .hljs-function {
  color: $base0e;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $base00;
  color: $base05;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
