[Unit]
Description=PolicyKit agent for LXDE
Documentation=man:lxpolkit(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/lxpolki

[Install]
WantedBy=sway-session.target
