/**
 * Base16 IR Black Dark
 *
 * @author Timothée Poisot (http://timotheepoisot.fr)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #000000;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #fdfbee;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #6c6c66;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #ff6c60; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #e9c062; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #ffffb6; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #a8ff60; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #96cbfe; /* blue */
}

pre .keyword, pre .storage {
    color: #ff73fd; /* purple */
}
