/**
 * Base16 shapeshifter Light
 *
 * @author Tyler Benziger (http://tybenz.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #f9f9f9;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #000000;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #555555;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #e92f2f; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #e09448; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #dddd13; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #0ed839; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #3b48e3; /* blue */
}

pre .keyword, pre .storage {
    color: #f996e2; /* purple */
}
