/**
 * Base16 Brewer Dark
 *
 * @author Timothée Poisot (http://github.com/tpoisot)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #0c0d0e;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #fcfdfe;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #737475;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #e31a1c; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #e6550d; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #dca060; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #31a354; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #3182bd; /* blue */
}

pre .keyword, pre .storage {
    color: #756bb1; /* purple */
}
