/**
 * Base16 Grayscale Dark
 *
 * @author Alexandre Gavioli (https://github.com/Alexx2/)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #101010;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #f7f7f7;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #525252;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #7c7c7c; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #999999; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #a0a0a0; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #8e8e8e; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #686868; /* blue */
}

pre .keyword, pre .storage {
    color: #747474; /* purple */
}
