/**
 * Base16 Bright Light
 *
 * @author Chris Kempson (http://chriskempson.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #ffffff;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #000000;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #d0d0d0;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #fb0120; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #fc6d24; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #fda331; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #a1c659; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #6fb3d2; /* blue */
}

pre .keyword, pre .storage {
    color: #d381c3; /* purple */
}
