[Unit]
Description=Lock the session

[Service]
Type=forking
ExecStart=/bin/sh -c lock
ExecStop=/bin/sh -c unlock

[Install]
Also=screenunlock.service
