/*

Name: Base16 Atelier Savanna
Author: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #171c19;
$base01: #232a25;
$base02: #526057;
$base03: #5f6d64;
$base04: #78877d;
$base05: #87928a;
$base06: #dfe7e2;
$base07: #ecf4ee;
$base08: #b16139;
$base09: #9f713c;
$base0a: #a07e3b;
$base0b: #489963;
$base0c: #1c9aa0;
$base0d: #478c90;
$base0e: #55859b;
$base0f: #867469;
