/* Base16 Pop
Scheme: Chris Kempson (http://chriskempson.com) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #000000; color: #d0d0d0 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #202020; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #000000; }
pre.sourceCode { background-color: #000000; line-height: 125% }
td.nums pre { background-color: #202020; line-height: 125% }
code.sourceCode span.kw { color: #0e5a94; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #b31e8d} /* Keyword.Type */
code.sourceCode span.dv { color: #f29333 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #f29333 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #f29333 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #37b349} /* Literal.String.Char */
code.sourceCode span.st { color: #37b349 } /* Literal.String */
code.sourceCode span.co { color: #505050 } /* Comment */
code.sourceCode span.ot { color: #7a2d00 } /* Comment.Preproc */
code.sourceCode span.al { color: #b31e8d } /* Generic.Error */
code.sourceCode span.fu { color: #f8ca12 } /* Name.Function */
code.sourceCode span.re { color: #00aabb}
code.sourceCode span.er { color: #eb008a; border: 1px solid #b31e8d } /* Error */
