/* Base16 Default
Scheme: Chris Kempson (http://chriskempson.com) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #181818; color: #d8d8d8 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #282828; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #181818; }
pre.sourceCode { background-color: #181818; line-height: 125% }
td.nums pre { background-color: #282828; line-height: 125% }
code.sourceCode span.kw { color: #7cafc2; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #ba8baf} /* Keyword.Type */
code.sourceCode span.dv { color: #dc9656 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #dc9656 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #dc9656 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #a1b56c} /* Literal.String.Char */
code.sourceCode span.st { color: #a1b56c } /* Literal.String */
code.sourceCode span.co { color: #585858 } /* Comment */
code.sourceCode span.ot { color: #a16946 } /* Comment.Preproc */
code.sourceCode span.al { color: #ba8baf } /* Generic.Error */
code.sourceCode span.fu { color: #f7ca88 } /* Name.Function */
code.sourceCode span.re { color: #86c1b9}
code.sourceCode span.er { color: #ab4642; border: 1px solid #ba8baf } /* Error */
