/* Base16 Seti UI
Scheme:  */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #151718; color: #d6d6d6 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #8ec43d; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #151718; }
pre.sourceCode { background-color: #151718; line-height: 125% }
td.nums pre { background-color: #8ec43d; line-height: 125% }
code.sourceCode span.kw { color: #55b5db; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #a074c4} /* Keyword.Type */
code.sourceCode span.dv { color: #db7b55 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #db7b55 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #db7b55 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #9fca56} /* Literal.String.Char */
code.sourceCode span.st { color: #9fca56 } /* Literal.String */
code.sourceCode span.co { color: #41535B } /* Comment */
code.sourceCode span.ot { color: #8a553f } /* Comment.Preproc */
code.sourceCode span.al { color: #a074c4 } /* Generic.Error */
code.sourceCode span.fu { color: #e6cd69 } /* Name.Function */
code.sourceCode span.re { color: #55dbbe}
code.sourceCode span.er { color: #Cd3f45; border: 1px solid #a074c4 } /* Error */
