/* Base16 Paraiso
Scheme: Jan T. Sott */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #e7e9db; color: #4f424c }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #b9b6b0; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #e7e9db; }
pre.sourceCode { background-color: #e7e9db; line-height: 125% }
td.nums pre { background-color: #b9b6b0; line-height: 125% }
code.sourceCode span.kw { color: #06b6ef; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #815ba4} /* Keyword.Type */
code.sourceCode span.dv { color: #f99b15 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #f99b15 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #f99b15 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #48b685} /* Literal.String.Char */
code.sourceCode span.st { color: #48b685 } /* Literal.String */
code.sourceCode span.co { color: #776e71 } /* Comment */
code.sourceCode span.ot { color: #e96ba8 } /* Comment.Preproc */
code.sourceCode span.al { color: #815ba4 } /* Generic.Error */
code.sourceCode span.fu { color: #fec418 } /* Name.Function */
code.sourceCode span.re { color: #5bc4bf}
code.sourceCode span.er { color: #ef6155; border: 1px solid #815ba4 } /* Error */
