/* Base16 3024
Scheme: Jan T. Sott (http://github.com/idleberg) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #090300; color: #a5a2a2 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #3a3432; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #090300; }
pre.sourceCode { background-color: #090300; line-height: 125% }
td.nums pre { background-color: #3a3432; line-height: 125% }
code.sourceCode span.kw { color: #01a0e4; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #a16a94} /* Keyword.Type */
code.sourceCode span.dv { color: #e8bbd0 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #e8bbd0 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #e8bbd0 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #01a252} /* Literal.String.Char */
code.sourceCode span.st { color: #01a252 } /* Literal.String */
code.sourceCode span.co { color: #5c5855 } /* Comment */
code.sourceCode span.ot { color: #cdab53 } /* Comment.Preproc */
code.sourceCode span.al { color: #a16a94 } /* Generic.Error */
code.sourceCode span.fu { color: #fded02 } /* Name.Function */
code.sourceCode span.re { color: #b5e4f4}
code.sourceCode span.er { color: #db2d20; border: 1px solid #a16a94 } /* Error */
