/* Base16 Yesterday Bright
Scheme: FroZnShiva (https://github.com/FroZnShiva) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #343d46; color: #dfe1e8 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #4f5b66; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #343d46; }
pre.sourceCode { background-color: #343d46; line-height: 125% }
td.nums pre { background-color: #4f5b66; line-height: 125% }
code.sourceCode span.kw { color: #7aa6da; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #c397d8} /* Keyword.Type */
code.sourceCode span.dv { color: #e78c45 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #e78c45 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #e78c45 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #b9ca4a} /* Literal.String.Char */
code.sourceCode span.st { color: #b9ca4a } /* Literal.String */
code.sourceCode span.co { color: #a7adba } /* Comment */
code.sourceCode span.ot { color: #9a806d } /* Comment.Preproc */
code.sourceCode span.al { color: #c397d8 } /* Generic.Error */
code.sourceCode span.fu { color: #e7c547 } /* Name.Function */
code.sourceCode span.re { color: #70c0b1}
code.sourceCode span.er { color: #d54e53; border: 1px solid #c397d8 } /* Error */
