/* Base16 Embers
Scheme: Jannik Siebert (https://github.com/janniks) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #16130F; color: #A39A90 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #2C2620; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #16130F; }
pre.sourceCode { background-color: #16130F; line-height: 125% }
td.nums pre { background-color: #2C2620; line-height: 125% }
code.sourceCode span.kw { color: #6D5782; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #82576D} /* Keyword.Type */
code.sourceCode span.dv { color: #828257 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #828257 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #828257 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #57826D} /* Literal.String.Char */
code.sourceCode span.st { color: #57826D } /* Literal.String */
code.sourceCode span.co { color: #5A5047 } /* Comment */
code.sourceCode span.ot { color: #825757 } /* Comment.Preproc */
code.sourceCode span.al { color: #82576D } /* Generic.Error */
code.sourceCode span.fu { color: #6D8257 } /* Name.Function */
code.sourceCode span.re { color: #576D82}
code.sourceCode span.er { color: #826D57; border: 1px solid #82576D } /* Error */
