/* Base16 Marrakesh
Scheme: Alexandre Gavioli (http://github.com/Alexx2/) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #faf0a5; color: #5f5b17 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #ccc37a; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #faf0a5; }
pre.sourceCode { background-color: #faf0a5; line-height: 125% }
td.nums pre { background-color: #ccc37a; line-height: 125% }
code.sourceCode span.kw { color: #477ca1; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #8868b3} /* Keyword.Type */
code.sourceCode span.dv { color: #b36144 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #b36144 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #b36144 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #18974e} /* Literal.String.Char */
code.sourceCode span.st { color: #18974e } /* Literal.String */
code.sourceCode span.co { color: #6c6823 } /* Comment */
code.sourceCode span.ot { color: #b3588e } /* Comment.Preproc */
code.sourceCode span.al { color: #8868b3 } /* Generic.Error */
code.sourceCode span.fu { color: #a88339 } /* Name.Function */
code.sourceCode span.re { color: #75a738}
code.sourceCode span.er { color: #c35359; border: 1px solid #8868b3 } /* Error */
