/* Base16 Apathy
Scheme: Jannik Siebert (https://github.com/janniks) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #031A16; color: #81B5AC }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #0B342D; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #031A16; }
pre.sourceCode { background-color: #031A16; line-height: 125% }
td.nums pre { background-color: #0B342D; line-height: 125% }
code.sourceCode span.kw { color: #96883E; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #4C963E} /* Keyword.Type */
code.sourceCode span.dv { color: #3E7996 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #3E7996 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #3E7996 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #883E96} /* Literal.String.Char */
code.sourceCode span.st { color: #883E96 } /* Literal.String */
code.sourceCode span.co { color: #2B685E } /* Comment */
code.sourceCode span.ot { color: #3E965B } /* Comment.Preproc */
code.sourceCode span.al { color: #4C963E } /* Generic.Error */
code.sourceCode span.fu { color: #3E4C96 } /* Name.Function */
code.sourceCode span.re { color: #963E4C}
code.sourceCode span.er { color: #3E9688; border: 1px solid #4C963E } /* Error */
