/* Base16 Bespin
Scheme: Jan T. Sott */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #baae9e; color: #5e5d5c }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #9d9b97; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #baae9e; }
pre.sourceCode { background-color: #baae9e; line-height: 125% }
td.nums pre { background-color: #9d9b97; line-height: 125% }
code.sourceCode span.kw { color: #5ea6ea; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #9b859d} /* Keyword.Type */
code.sourceCode span.dv { color: #cf7d34 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #cf7d34 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #cf7d34 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #54be0d} /* Literal.String.Char */
code.sourceCode span.st { color: #54be0d } /* Literal.String */
code.sourceCode span.co { color: #666666 } /* Comment */
code.sourceCode span.ot { color: #937121 } /* Comment.Preproc */
code.sourceCode span.al { color: #9b859d } /* Generic.Error */
code.sourceCode span.fu { color: #f9ee98 } /* Name.Function */
code.sourceCode span.re { color: #afc4db}
code.sourceCode span.er { color: #cf6a4c; border: 1px solid #9b859d } /* Error */
