/* Base16 IR Black
Scheme: Timothée Poisot (http://timotheepoisot.fr) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #fdfbee; color: #484844 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #d9d7cc; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #fdfbee; }
pre.sourceCode { background-color: #fdfbee; line-height: 125% }
td.nums pre { background-color: #d9d7cc; line-height: 125% }
code.sourceCode span.kw { color: #96cbfe; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #ff73fd} /* Keyword.Type */
code.sourceCode span.dv { color: #e9c062 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #e9c062 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #e9c062 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #a8ff60} /* Literal.String.Char */
code.sourceCode span.st { color: #a8ff60 } /* Literal.String */
code.sourceCode span.co { color: #6c6c66 } /* Comment */
code.sourceCode span.ot { color: #b18a3d } /* Comment.Preproc */
code.sourceCode span.al { color: #ff73fd } /* Generic.Error */
code.sourceCode span.fu { color: #ffffb6 } /* Name.Function */
code.sourceCode span.re { color: #c6c5fe}
code.sourceCode span.er { color: #ff6c60; border: 1px solid #ff73fd } /* Error */
