/* Base16 Yesterday
Scheme: FroZnShiva (https://github.com/FroZnShiva) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #ffffff; color: #4d4d4c }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #efefef; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #ffffff; }
pre.sourceCode { background-color: #ffffff; line-height: 125% }
td.nums pre { background-color: #efefef; line-height: 125% }
code.sourceCode span.kw { color: #4271ae; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #8959a8} /* Keyword.Type */
code.sourceCode span.dv { color: #f5871f } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #f5871f } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #f5871f } /* Literal.Number.Float */
code.sourceCode span.ch { color: #718c00} /* Literal.String.Char */
code.sourceCode span.st { color: #718c00 } /* Literal.String */
code.sourceCode span.co { color: #969896 } /* Comment */
code.sourceCode span.ot { color: #7f2a1d } /* Comment.Preproc */
code.sourceCode span.al { color: #8959a8 } /* Generic.Error */
code.sourceCode span.fu { color: #eab700 } /* Name.Function */
code.sourceCode span.re { color: #3e999f}
code.sourceCode span.er { color: #c82829; border: 1px solid #8959a8 } /* Error */
