/* Base16 Chalk
Scheme: Chris Kempson (http://chriskempson.com) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #f5f5f5; color: #303030 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #e0e0e0; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #f5f5f5; }
pre.sourceCode { background-color: #f5f5f5; line-height: 125% }
td.nums pre { background-color: #e0e0e0; line-height: 125% }
code.sourceCode span.kw { color: #6fc2ef; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #e1a3ee} /* Keyword.Type */
code.sourceCode span.dv { color: #eda987 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #eda987 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #eda987 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #acc267} /* Literal.String.Char */
code.sourceCode span.st { color: #acc267 } /* Literal.String */
code.sourceCode span.co { color: #505050 } /* Comment */
code.sourceCode span.ot { color: #deaf8f } /* Comment.Preproc */
code.sourceCode span.al { color: #e1a3ee } /* Generic.Error */
code.sourceCode span.fu { color: #ddb26f } /* Name.Function */
code.sourceCode span.re { color: #12cfc0}
code.sourceCode span.er { color: #fb9fb1; border: 1px solid #e1a3ee } /* Error */
