/* Base16 Macintosh
Scheme: Rebecca Bettencourt (http://www.kreativekorp.com) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #000000; color: #c0c0c0 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #404040; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #000000; }
pre.sourceCode { background-color: #000000; line-height: 125% }
td.nums pre { background-color: #404040; line-height: 125% }
code.sourceCode span.kw { color: #0000d3; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #4700a5} /* Keyword.Type */
code.sourceCode span.dv { color: #ff6403 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #ff6403 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #ff6403 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #1fb714} /* Literal.String.Char */
code.sourceCode span.st { color: #1fb714 } /* Literal.String */
code.sourceCode span.co { color: #808080 } /* Comment */
code.sourceCode span.ot { color: #90713a } /* Comment.Preproc */
code.sourceCode span.al { color: #4700a5 } /* Generic.Error */
code.sourceCode span.fu { color: #fbf305 } /* Name.Function */
code.sourceCode span.re { color: #02abea}
code.sourceCode span.er { color: #dd0907; border: 1px solid #4700a5 } /* Error */
