/* Base16 Grayscale
Scheme: Alexandre Gavioli (https://github.com/Alexx2/) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #101010; color: #b9b9b9 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #252525; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #101010; }
pre.sourceCode { background-color: #101010; line-height: 125% }
td.nums pre { background-color: #252525; line-height: 125% }
code.sourceCode span.kw { color: #686868; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #747474} /* Keyword.Type */
code.sourceCode span.dv { color: #999999 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #999999 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #999999 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #8e8e8e} /* Literal.String.Char */
code.sourceCode span.st { color: #8e8e8e } /* Literal.String */
code.sourceCode span.co { color: #525252 } /* Comment */
code.sourceCode span.ot { color: #5e5e5e } /* Comment.Preproc */
code.sourceCode span.al { color: #747474 } /* Generic.Error */
code.sourceCode span.fu { color: #a0a0a0 } /* Name.Function */
code.sourceCode span.re { color: #868686}
code.sourceCode span.er { color: #7c7c7c; border: 1px solid #747474 } /* Error */
