/* Base16 Bright
Scheme: Chris Kempson (http://chriskempson.com) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #ffffff; color: #505050 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #f5f5f5; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #ffffff; }
pre.sourceCode { background-color: #ffffff; line-height: 125% }
td.nums pre { background-color: #f5f5f5; line-height: 125% }
code.sourceCode span.kw { color: #6fb3d2; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #d381c3} /* Keyword.Type */
code.sourceCode span.dv { color: #fc6d24 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #fc6d24 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #fc6d24 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #a1c659} /* Literal.String.Char */
code.sourceCode span.st { color: #a1c659 } /* Literal.String */
code.sourceCode span.co { color: #b0b0b0 } /* Comment */
code.sourceCode span.ot { color: #be643c } /* Comment.Preproc */
code.sourceCode span.al { color: #d381c3 } /* Generic.Error */
code.sourceCode span.fu { color: #fda331 } /* Name.Function */
code.sourceCode span.re { color: #76c7b7}
code.sourceCode span.er { color: #fb0120; border: 1px solid #d381c3 } /* Error */
