[Desktop Entry]
Name=QSynthingTray
Name[ca]=QSynthingTray
Name[pt_BR]=QSynthingTray
Name[sv]=QSynthingTray
Comment=Synthing Tray Applet
Icon=syncthing
Exec=QSyncthingTray
Terminal=false
Type=Application
NotShownIn=GNOME;
X-GNOME-Autostart-enabled=false
