/**
 * Base16 IR Black Dark
 *
 * @author Timothée Poisot (http://timotheepoisot.fr)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00 = #000000;
$base01 = #242422;
$base02 = #484844;
$base03 = #6c6c66;
$base04 = #918f88;
$base05 = #b5b3aa;
$base06 = #d9d7cc;
$base07 = #fdfbee;
$base08 = #ff6c60;
$base09 = #e9c062;
$base0a = #ffffb6;
$base0b = #a8ff60;
$base0c = #c6c5fe;
$base0d = #96cbfe;
$base0e = #ff73fd;
$base0f = #b18a3d;

pre {
    background-color: $base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
