/**
 * Base16 Darktooth Dark
 *
 * @author Jason Milkins (https://github.com/jasonm23)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00 = #1D2021;
$base01 = #32302F;
$base02 = #504945;
$base03 = #665C54;
$base04 = #928374;
$base05 = #A89984;
$base06 = #D5C4A1;
$base07 = #FDF4C1;
$base08 = #FB543F;
$base09 = #FE8625;
$base0a = #FAC03B;
$base0b = #95C085;
$base0c = #8BA59B;
$base0d = #0D6678;
$base0e = #8F4673;
$base0f = #A87322;

pre {
    background-color: $base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
