/**
 * Base16 Atelier Sulphurpool Dark
 *
 * @author Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00 = #202746;
$base01 = #293256;
$base02 = #5e6687;
$base03 = #6b7394;
$base04 = #898ea4;
$base05 = #979db4;
$base06 = #dfe2f1;
$base07 = #f5f7ff;
$base08 = #c94922;
$base09 = #c76b29;
$base0a = #c08b30;
$base0b = #ac9739;
$base0c = #22a2c9;
$base0d = #3d8fd1;
$base0e = #6679cc;
$base0f = #9c637a;

pre {
    background-color: $base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
