/**
 * Base16 Macintosh Light
 *
 * @author Rebecca Bettencourt (http://www.kreativekorp.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00 = #000000;
$base01 = #404040;
$base02 = #404040;
$base03 = #808080;
$base04 = #808080;
$base05 = #c0c0c0;
$base06 = #c0c0c0;
$base07 = #ffffff;
$base08 = #dd0907;
$base09 = #ff6403;
$base0a = #fbf305;
$base0b = #1fb714;
$base0c = #02abea;
$base0d = #0000d3;
$base0e = #4700a5;
$base0f = #90713a;

pre {
    background-color: $base07;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base00;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base04;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
