/*

    Name:       Base16 OceanicNext Light
    Author:     https://github.com/voronianski/oceanic-next-color-scheme

    Prettify template by Jan T. Sott (https://github.com/idleberg/)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #1B2B34;
$base01 = #343D46;
$base02 = #4F5B66;
$base03 = #65737E;
$base04 = #A7ADBA;
$base05 = #C0C5CE;
$base06 = #CDD3DE;
$base07 = #D8DEE9;
$base08 = #EC5f67;
$base09 = #F99157;
$base0a = #FAC863;
$base0b = #99C794;
$base0c = #5FB3B3;
$base0d = #6699CC;
$base0e = #C594C5;
$base0f = #AB7967;

// plain text
.pln {
  color: $base00;
}

@media screen {
  // string content
  .str {
    color: $base0b;
  }

  // a keyword
  .kwd {
    color: $base0e;
  }

  // a comment
  .com {
    color: $base04;
  }

  // a type name
  .typ {
    color: $base0d;
  }

  // a literal value
  .lit {
    color: $base09;
  }

  // punctuation
  .pun {
    color: $base00;
  }

  // lisp open bracket
  .opn {
    color: $base00;
  }

  // lisp close bracket
  .clo {
    color: $base00;
  }

  // a markup tag name
  .tag {
    color: $base08;
  }

  // a markup attribute name
  .atn {
    color: $base09;
  }

  // a markup attribute value
  .atv {
    color: $base0c;
  }

  // a declaration
  .dec {
    color: $base09;
  }

  // a variable name
  .var {
    color: $base08;
  }

  // a function name
  .fun {
    color: $base0d;
  }
}
// Use higher contrast and text-weight for printable form.
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
// Style
pre.prettyprint {
  background: $base07;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid $base00;
  padding: 10px;
}

// Specify class=linenums on a pre to get line numbering
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

// IE indents via margin-left
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
}

// Alternate shading for lines
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}
