/**
 * Base16 Chalk Dark
 *
 * @author Chris Kempson (http://chriskempson.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00: #151515;
$base01: #202020;
$base02: #303030;
$base03: #505050;
$base04: #b0b0b0;
$base05: #d0d0d0;
$base06: #e0e0e0;
$base07: #f5f5f5;
$base08: #fb9fb1;
$base09: #eda987;
$base0a: #ddb26f;
$base0b: #acc267;
$base0c: #12cfc0;
$base0d: #6fc2ef;
$base0e: #e1a3ee;
$base0f: #deaf8f;

pre {
    background-color: $base00;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base07;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base03;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
