/**
 * Base16 Colors Light
 *
 * @author mrmrs (http://clrs.cc)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00: #111111;
$base01: #333333;
$base02: #555555;
$base03: #777777;
$base04: #999999;
$base05: #bbbbbb;
$base06: #dddddd;
$base07: #ffffff;
$base08: #ff4136;
$base09: #ff851b;
$base0a: #ffdc00;
$base0b: #2ecc40;
$base0c: #7fdbff;
$base0d: #0074d9;
$base0e: #b10dc9;
$base0f: #85144b;

pre {
    background-color: $base07;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base00;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base04;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
