/**
 * Base16 3024 Light
 *
 * @author Jan T. Sott (http://github.com/idleberg)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
$base00: #090300;
$base01: #3a3432;
$base02: #4a4543;
$base03: #5c5855;
$base04: #807d7c;
$base05: #a5a2a2;
$base06: #d6d5d4;
$base07: #f7f7f7;
$base08: #db2d20;
$base09: #e8bbd0;
$base0a: #fded02;
$base0b: #01a252;
$base0c: #b5e4f4;
$base0d: #01a0e4;
$base0e: #a16a94;
$base0f: #cdab53;

pre {
    background-color: $base07;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: $base00;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: $base04;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: $base08; // red
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: $base09; // orange
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: $base0a; // yellow
}

pre .constant.symbol, pre .string {
    color: $base0b; // green
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: $base0d; // blue
}

pre .keyword, pre .storage {
    color: $base0e; // purple
}
