name: Flake Check

on:
  push:

jobs:
  check:
    runs-on:
      - sprinters:aws:ubuntu-latest:spot=auto
      - ${{ github.run_id }}-${{ github.run_attempt }}-flake-check

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: DeterminateSystems/determinate-nix-action@89ab342bd48ff7318caf8d39d6a330c7b1df8f2f #v3.15.2
        with:
          diagnostic-endpoint: ""
      - uses: nix-community/cache-nix-action@106bba72ed8e29c8357661199511ef07790175e9 # v7
        with:
          primary-key: ${{runner.os}}-${{hashFiles('./flake.nix', './flake-modules/**/*.nix', './flake.lock')}}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: P1DT12H

      - name: build shell
        run: nix develop --accept-flake-config --command true

      - name: load ssh key for agenix
        run: |
          eval "$(nix develop --command ssh-agent -s)"
          nix develop --command ssh-add - <<< '${{ secrets.SSH_KEY }}'
      - name: load gpg key for git-crypt
        run: |
          nix develop --command gpg --batch --import <<< '${{ secrets.GPG_KEY }}'
      - run: nix develop --command git-crypt unlock

      - name: Run flake check
        run: nix flake check --accept-flake-config
