name: Flake Check

on:
  push:

jobs:
  check:
    runs-on: 
      - sprinters:aws:ubuntu-latest:spot=auto
      - ${{ github.run_id }}-${{ github.run_attempt }}-flake-check

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cachix/install-nix-action@56a7bb7b56d9a92d4fd1bc05758de7eea4a370a8 # v31
      - uses: nix-community/cache-nix-action@b426b118b6dc86d6952988d396aa7c6b09776d08 # v7
        with:
          primary-key: ${{runner.os}}-${{hashFiles('./flake.nix', './flake-modules/**/*.nix', './flake.lock')}}
      - uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1

      - name: load ssh key for agenix
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< '${{ secrets.SSH_KEY }}'
      - name: load gpg key for git-crypt
        run: |
          gpg --batch --import <<< '${{ secrets.GPG_KEY }}'
      - run: git-crypt unlock
      - name: Run flake check
        run: nix flake check --accept-flake-config
